In [38]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('./../../3_Data/HH_ED_Flow_Study.csv')

C:\Anaconda3\envs\hospital-flow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (9,31,32,33,34,35,36,37,38,39,40,41,42,43,49,51,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
df2 = df.sample(frac=0.03)

In [32]:
cols = [
'PSEUDONYMISED_PATIENT_ID',
'AGE_AT_ARRIVAL',
'GENDER_NATIONAL_DESCRIPTION',
'SITE',
'ARRIVAL_DTTM',
'ARRIVAL_MODE_NATIONAL_CODE',
'INITIAL_ASSESSMENT_DTTM',
'SEEN_FOR_TREATMENT_DTTM',
'SPECIALTY_REQUEST_TIME',
'SPECIALTY_REFERRED_TO_DESCRIPTION',
'ADMISSION_FLAG',
'ATTENDANCE_CONCLUSION_DTTM',
'STREAM_LOCAL_CODE']

In [33]:
df2 = df2[cols]

In [34]:
df2.shape

(17029, 13)

anonymise hopsital

In [35]:
df2.SITE = 'HOSPITAL1'

In [36]:
df2.head()

,PSEUDONYMISED_PATIENT_ID,AGE_AT_ARRIVAL,GENDER_NATIONAL_DESCRIPTION,SITE,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,INITIAL_ASSESSMENT_DTTM,SEEN_FOR_TREATMENT_DTTM,SPECIALTY_REQUEST_TIME,SPECIALTY_REFERRED_TO_DESCRIPTION,ADMISSION_FLAG,ATTENDANCE_CONCLUSION_DTTM,STREAM_LOCAL_CODE
20349,1538194,41,Female,HOSPITAL1,09/01/2013 19:47,2.0,09/01/2013 19:52,09/01/2013 22:49,NaN,NaN,0,09/01/2013 23:06,MIN
44345,635516,5,Male,HOSPITAL1,04/07/2013 09:33,2.0,04/07/2013 09:47,04/07/2013 10:01,NaN,NaN,0,04/07/2013 10:02,MIN
286855,763002,43,Male,HOSPITAL1,27/08/2017 00:17,2.0,27/08/2017 01:39,27/08/2017 02:59,NaN,NaN,0,27/08/2017 03:32,MIN
483653,1593565,5,Female,HOSPITAL1,23/05/2016 18:53,2.0,23/05/2016 19:03,23/05/2016 19:11,NaN,NaN,0,23/05/2016 19:12,MIN
67869,1483910,70,Female,HOSPITAL1,13/12/2013 18:46,1.0,13/12/2013 19:00,13/12/2013 18:56,NaN,NaN,1,13/12/2013 22:40,MIN

In [37]:
df2.columns

Index(['PSEUDONYMISED_PATIENT_ID', 'AGE_AT_ARRIVAL',
       'GENDER_NATIONAL_DESCRIPTION', 'SITE', 'ARRIVAL_DTTM',
       'ARRIVAL_MODE_NATIONAL_CODE', 'INITIAL_ASSESSMENT_DTTM',
       'SEEN_FOR_TREATMENT_DTTM', 'SPECIALTY_REQUEST_TIME',
       'SPECIALTY_REFERRED_TO_DESCRIPTION', 'ADMISSION_FLAG',
       'ATTENDANCE_CONCLUSION_DTTM', 'STREAM_LOCAL_CODE'],
      dtype='object')

In [ ]:
np.random.random_integers()

remove anonysyed ids with randoms

In [44]:
df2.PSEUDONYMISED_PATIENT_ID = np.random.randint(0,7000,df2.shape[0])

In [45]:
df2.head()

,PSEUDONYMISED_PATIENT_ID,AGE_AT_ARRIVAL,GENDER_NATIONAL_DESCRIPTION,SITE,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,INITIAL_ASSESSMENT_DTTM,SEEN_FOR_TREATMENT_DTTM,SPECIALTY_REQUEST_TIME,SPECIALTY_REFERRED_TO_DESCRIPTION,ADMISSION_FLAG,ATTENDANCE_CONCLUSION_DTTM,STREAM_LOCAL_CODE
20349,2493,41,Female,HOSPITAL1,09/01/2013 19:47,2.0,09/01/2013 19:52,09/01/2013 22:49,NaN,NaN,0,09/01/2013 23:06,MIN
44345,4822,5,Male,HOSPITAL1,04/07/2013 09:33,2.0,04/07/2013 09:47,04/07/2013 10:01,NaN,NaN,0,04/07/2013 10:02,MIN
286855,6012,43,Male,HOSPITAL1,27/08/2017 00:17,2.0,27/08/2017 01:39,27/08/2017 02:59,NaN,NaN,0,27/08/2017 03:32,MIN
483653,5402,5,Female,HOSPITAL1,23/05/2016 18:53,2.0,23/05/2016 19:03,23/05/2016 19:11,NaN,NaN,0,23/05/2016 19:12,MIN
67869,1646,70,Female,HOSPITAL1,13/12/2013 18:46,1.0,13/12/2013 19:00,13/12/2013 18:56,NaN,NaN,1,13/12/2013 22:40,MIN

In [74]:
df2.columns

Index(['PSEUDONYMISED_PATIENT_ID', 'AGE_AT_ARRIVAL',
       'GENDER_NATIONAL_DESCRIPTION', 'SITE', 'ARRIVAL_DTTM',
       'ARRIVAL_MODE_NATIONAL_CODE', 'INITIAL_ASSESSMENT_DTTM',
       'SEEN_FOR_TREATMENT_DTTM', 'SPECIALTY_REQUEST_TIME',
       'SPECIALTY_REFERRED_TO_DESCRIPTION', 'ADMISSION_FLAG',
       'ATTENDANCE_CONCLUSION_DTTM', 'STREAM_LOCAL_CODE'],
      dtype='object')

randomise datetimes

In [64]:
import flosp

In [75]:
cols_toconvert = ['INITIAL_ASSESSMENT_DTTM',
       'SEEN_FOR_TREATMENT_DTTM','ARRIVAL_DTTM','ATTENDANCE_CONCLUSION_DTTM']

In [76]:
df2 = flosp.basic_tools.convert_cols_datetime(df2, '%d/%m/%Y %H:%M' ,cols_toconvert)

Converting cols to datetime...(may take some time depedning on size of df)...
ARRIVAL_DTTM...is already datetime format
INITIAL_ASSESSMENT_DTTM...converting
SEEN_FOR_TREATMENT_DTTM...converting
ATTENDANCE_CONCLUSION_DTTM...converting

In [105]:
def time_randomiser(x):
    daychange = pd.Timedelta(np.random.randint(-2,2),'D')
    hourchange = pd.Timedelta(np.random.randint(-1,1),'h')
    minchange = pd.Timedelta(np.random.randint(-8,17),'m')
    
    y = x + daychange
    y = y + hourchange
    y = y + minchange
    #print(y)
    return(y)

In [106]:
for i in cols_toconvert:
    df2[i] = df2[i].apply(time_randomiser)

In [78]:
df2.head().ARRIVAL_DTTM[20349] + pd.Timedelta(-1,'D')

Timestamp('2013-01-08 19:47:00')

In [108]:
df2.head().ARRIVAL_DTTM[20349] + pd.Timedelta(-1,'D')

Timestamp('2013-01-07 19:44:00')

randomise ages

In [113]:
def age_randomiser(x):
    agechange = np.random.randint(0,20)
    x+=agechange
    
    return(x)

In [115]:
df2['AGE_AT_ARRIVAL'] = df2['AGE_AT_ARRIVAL'].apply(age_randomiser)

In [116]:
df2.to_csv('./example_data.csv',index=False)