In [6]:
%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
from flosp import Interface
import pandas as pd

In [9]:
H = Interface("./example/setup.py")

flosp started.
Imported setup.py sucessfully.

In [10]:
H.load_dataED('./example/example_data.csv')

IO class called.
IO class instantiated.

In [12]:
H.data.RawED.head()

,PSEUDONYMISED_PATIENT_ID,AGE_AT_ARRIVAL,GENDER_NATIONAL_DESCRIPTION,SITE,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,INITIAL_ASSESSMENT_DTTM,SEEN_FOR_TREATMENT_DTTM,SPECIALTY_REQUEST_TIME,SPECIALTY_REFERRED_TO_DESCRIPTION,ADMISSION_FLAG,DEPARTURE_DTTM,STREAM_LOCAL_CODE
0,2493,50,Female,HOSPITAL1,2013-01-08 19:44:00,2.0,2013-01-07 18:50:00,2013-01-09 21:50:00,NaN,NaN,0,2013-01-10 23:16:00,MIN
1,4822,22,Male,HOSPITAL1,2013-07-03 09:34:00,2.0,2013-07-03 08:57:00,2013-07-02 09:17:00,NaN,NaN,0,2013-07-05 09:02:00,MIN
2,6012,51,Male,HOSPITAL1,2017-08-27 23:33:00,2.0,2017-08-26 01:32:00,2017-08-27 03:12:00,NaN,NaN,0,2017-08-26 03:31:00,MIN
3,5402,10,Female,HOSPITAL1,2016-05-23 18:48:00,2.0,2016-05-23 19:18:00,2016-05-24 18:23:00,NaN,NaN,0,2016-05-22 19:22:00,MIN
4,1646,75,Female,HOSPITAL1,2013-12-11 17:47:00,1.0,2013-12-14 17:59:00,2013-12-12 18:01:00,NaN,NaN,1,2013-12-14 21:45:00,MIN

In [14]:
df = H.data.RawED

In [15]:
df.head(1)

,PSEUDONYMISED_PATIENT_ID,AGE_AT_ARRIVAL,GENDER_NATIONAL_DESCRIPTION,SITE,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,INITIAL_ASSESSMENT_DTTM,SEEN_FOR_TREATMENT_DTTM,SPECIALTY_REQUEST_TIME,SPECIALTY_REFERRED_TO_DESCRIPTION,ADMISSION_FLAG,DEPARTURE_DTTM,STREAM_LOCAL_CODE
0,2493,50,Female,HOSPITAL1,2013-01-08 19:44:00,2.0,2013-01-07 18:50:00,2013-01-09 21:50:00,NaN,NaN,0,2013-01-10 23:16:00,MIN

In [20]:
df.shape

(17029, 13)

In [16]:
df.columns

Index(['PSEUDONYMISED_PATIENT_ID', 'AGE_AT_ARRIVAL',
       'GENDER_NATIONAL_DESCRIPTION', 'SITE', 'ARRIVAL_DTTM',
       'ARRIVAL_MODE_NATIONAL_CODE', 'INITIAL_ASSESSMENT_DTTM',
       'SEEN_FOR_TREATMENT_DTTM', 'SPECIALTY_REQUEST_TIME',
       'SPECIALTY_REFERRED_TO_DESCRIPTION', 'ADMISSION_FLAG',
       'DEPARTURE_DTTM', 'STREAM_LOCAL_CODE'],
      dtype='object')

In [39]:
dataRAW_expected_dtypes = {
'PSEUDONYMISED_PATIENT_ID':str,
'PSEUDONYMISED_PATIENT_ID':str,
'AGE_AT_ARRIVAL':int,
'GENDER_NATIONAL_DESCRIPTION':str,
'SITE':str,
'ARRIVAL_DTTM':object,
'ARRIVAL_MODE_NATIONAL_CODE':str,
'INITIAL_ASSESSMENT_DTTM':object,
'SEEN_FOR_TREATMENT_DTTM':object,
'SPECIALTY_REQUEST_TIME':object,
'SPECIALTY_REFERRED_TO_DESCRIPTION':str,
'ADMISSION_FLAG':str,
'DEPARTURE_DTTM':object,
'STREAM_LOCAL_CODE':str
}

In [40]:
# DTdict = {'SITE':str,'PSEUDONYMISED_PATIENT_ID':str,'AGE_AT_ARRIVAL':int}
df2 = pd.read_csv('./example/example_data.csv',low_memory=True,dtype=dataRAW_expected_dtypes)
                  
#                   parse_dates = ['ARRIVAL_DTTM','INITIAL_ASSESSMENT_DTTM'],
#                   infer_datetime_format=True)
df2.head(1)

,PSEUDONYMISED_PATIENT_ID,AGE_AT_ARRIVAL,GENDER_NATIONAL_DESCRIPTION,SITE,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,INITIAL_ASSESSMENT_DTTM,SEEN_FOR_TREATMENT_DTTM,SPECIALTY_REQUEST_TIME,SPECIALTY_REFERRED_TO_DESCRIPTION,ADMISSION_FLAG,DEPARTURE_DTTM,STREAM_LOCAL_CODE
0,2493,50,Female,HOSPITAL1,2013-01-08 19:44:00,2.0,2013-01-07 18:50:00,2013-01-09 21:50:00,NaN,NaN,0,2013-01-10 23:16:00,MIN

In [49]:
df2.SPECIALTY_REQUEST_TIME

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7        18:10:08
8             NaN
9             NaN
10            NaN
11            NaN
12            NaN
13       16:53:38
14            NaN
15       17:10:44
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21       15:45:50
22            NaN
23            NaN
24            NaN
25            NaN
26            NaN
27       07:15:24
28            NaN
29       03:39:41
           ...
16999         NaN
17000         NaN
17001         NaN
17002         NaN
17003         NaN
17004    19:30:55
17005    19:19:02
17006         NaN
17007    16:49:00
17008         NaN
17009         NaN
17010         NaN
17011         NaN
17012         NaN
17013         NaN
17014         NaN
17015    17:50:48
17016         NaN
17017    20:53:53
17018         NaN
17019         NaN
17020    01:01:07
17021    16:47:53
17022         NaN
17023         NaN
17024         NaN
17025         NaN
17026         NaN
17027         NaN
17028    16:50:42
Name: SPECIALTY_REQUEST_TIME, Length: 17029, dtype: object

In [41]:
dataRAW_expected_datetime_cols = [
    'ARRIVAL_DTTM',
    'INITIAL_ASSESSMENT_DTTM',
    'SEEN_FOR_TREATMENT_DTTM',
    'SPECIALTY_REQUEST_TIME',
    'DEPARTURE_DTTM',
]

In [48]:
df2.ARRIVAL_DTTM.dtype

dtype('O')

In [47]:
pd.to_datetime(df2[dataRAW_expected_datetime_cols[0]],format='%Y-%m-%d %H:%M:%S')

0       2013-01-08 19:44:00
1       2013-07-03 09:34:00
2       2017-08-27 23:33:00
3       2016-05-23 18:48:00
4       2013-12-11 17:47:00
5       2013-08-24 08:29:00
6       2016-08-29 15:16:00
7       2014-08-09 14:31:00
8       2016-06-01 19:50:00
9       2016-11-11 19:48:00
10      2015-05-01 12:55:00
11      2017-05-05 16:36:00
12      2016-11-24 06:28:00
13      2013-03-13 15:26:00
14      2015-09-02 13:51:00
15      2018-01-08 15:11:00
16      2013-11-08 21:23:00
17      2014-09-30 06:38:00
18      2014-04-14 08:16:00
19      2012-11-06 07:00:00
20      2017-06-19 21:26:00
21      2015-08-21 11:16:00
22      2014-09-19 19:39:00
23      2012-12-22 09:25:00
24      2015-03-04 08:02:00
25      2015-08-28 19:20:00
26      2012-12-07 08:22:00
27      2014-03-06 03:20:00
28      2016-07-25 08:01:00
29      2017-06-19 03:22:00
                ...
16999   2016-07-19 19:19:00
17000   2015-07-22 15:11:00
17001   2012-09-30 14:32:00
17002   2013-11-16 16:50:00
17003   2013-06-15 14:18:00
17004   2013-01-17 16:19:00
17005   2015-10-30 17:21:00
17006   2015-04-29 14:09:00
17007   2015-10-02 14:30:00
17008   2017-11-22 09:43:00
17009   2016-07-26 20:31:00
17010   2013-10-07 12:37:00
17011   2015-03-01 09:11:00
17012   2015-04-15 19:28:00
17013   2016-10-10 14:43:00
17014   2015-01-04 17:07:00
17015   2016-07-09 14:53:00
17016   2014-07-20 12:19:00
17017   2014-03-04 18:38:00
17018   2013-04-04 19:34:00
17019   2017-07-14 15:37:00
17020   2015-11-22 22:02:00
17021   2014-12-13 15:59:00
17022   2017-04-19 23:47:00
17023   2014-09-09 00:35:00
17024   2017-07-06 08:18:00
17025   2016-04-12 18:43:00
17026   2017-05-25 20:47:00
17027   2017-12-14 17:38:00
17028   2017-08-25 14:48:00
Name: ARRIVAL_DTTM, Length: 17029, dtype: datetime64[ns]

In [42]:
for i in dataRAW_expected_datetime_cols:

['ARRIVAL_DTTM',
 'INITIAL_ASSESSMENT_DTTM',
 'SEEN_FOR_TREATMENT_DTTM',
 'SPECIALTY_REQUEST_TIME',
 'DEPARTURE_DTTM']

In [36]:
df2.ARRIVAL_DTTM.dtype

dtype('O')

In [37]:
df2.AGE_AT_ARRIVAL.dtype

dtype('int32')