# import dep and data

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import bradlib as bl
sns.set()

In [5]:
% pwd

'C:\\Users\\bjk1y13\\OneDrive - University of Southampton\\MH000_HHFT_flow\\4_Analysis\\hospital-flow'

In [8]:
inpat = pd.read_csv('./../../3_Data/HH_IP_FLOW_Study.csv',low_memory=False)

In [10]:
inpat = bl.dftools.pd_tidy_column_heads(inpat)

In [11]:
inpat.head(2)

,pseudonymised_patient_id,age_at_admission,gender_national_code,gender_national_code_1,site,admission_dttm,discharge_dttm,admission_method_nc,admission_method_description,admission_type,...,ward_14_end,ward_15,ward_15_start,ward_15_end,episode_los,spell_los,discharge_destination_nc,discharge_destination_description,discharge_method_nc,discharge_method_destination
0,12,26,2.0,Female,NHH,24/01/2018 21:44,25/01/2018 22:30,22,GENERAL PRACTITIONER: after a request for imme...,Non-Elective,...,NaN,NaN,NaN,NaN,1,1,19,"Usual place of residence unless listed below, ...",1,PATIENT discharged on clinical advice or with ...
1,13,51,1.0,Male,NHH,25/04/2017 07:43,25/04/2017 13:00,21,Accident and emergency or dental casualty depa...,Non-Elective,...,NaN,NaN,NaN,NaN,0,0,19,"Usual place of residence unless listed below, ...",1,PATIENT discharged on clinical advice or with ...

reduce for testing

In [28]:
inpat = inpat[0:5000]

# Cleaning

In [29]:
inpat.columns

Index(['pseudonymised_patient_id', 'age_at_admission', 'gender_national_code',
       'gender_national_code_1', 'site', 'admission_dttm', 'discharge_dttm',
       'admission_method_nc', 'admission_method_description', 'admission_type',
       'episode_no', 'episode_start_dttm', 'episode_end_dttm',
       'treatment_function_nc', 'specialty_description', 'ward_1',
       'ward_1_start', 'ward_1_end', 'ward_2', 'ward_2_start', 'ward_2_end',
       'ward_3', 'ward_3_start', 'ward_3_end', 'ward_4', 'ward_4_start',
       'ward_4_end', 'ward_5', 'ward_5_start', 'ward_5_end', 'ward_6',
       'ward_6_start', 'ward_6_end', 'ward_7', 'ward_7_start', 'ward_7_end',
       'ward_8', 'ward_8_start', 'ward_8_end', 'ward_9', 'ward_9_start',
       'ward_9_end', 'ward_10', 'ward_10_start', 'ward_10_end', 'ward_11',
       'ward_11_start', 'ward_11_end', 'ward_12', 'ward_12_start',
       'ward_12_end', 'ward_13', 'ward_13_start', 'ward_13_end', 'ward_14',
       'ward_14_start', 'ward_14_end', 'ward_15', 'ward_15_start',
       'ward_15_end', 'episode_los', 'spell_los', 'discharge_destination_nc',
       'discharge_destination_description', 'discharge_method_nc',
       'discharge_method_destination'],
      dtype='object')

make datetime col format

In [30]:
datetime_cols = []
for i in inpat.columns:
    if ('dttm' in i): # or ('_end' in i):
        datetime_cols.append(i)

In [31]:
datetime_cols

['admission_dttm', 'discharge_dttm', 'episode_start_dttm', 'episode_end_dttm']

In [36]:
for i in datetime_cols:
    inpat[i] = pd.to_datetime(inpat[i], format= '%d/%m/%Y %H:%M')

datetimes

In [37]:
inpat[i].dtype

dtype('<M8[ns]')

make arrival year etc?

# basics dataset

In [38]:
inpat.admission_dttm.min()

Timestamp('2014-01-12 04:31:00')

In [39]:
inpat.discharge_dttm.min()

Timestamp('2014-01-12 16:58:00')

# volumes/activity

- groupby year/admission method
- groupby year/age groups

- no of beds
- no of wards
- changges over time
- occupancy?
-

# patient flow through wards

- isolate ward movements into 1 df
- look at individual years?
- proprtion of entry to wards
- proportion of exit wards
- number of ward moves

# outliers

- average no.s of ward moves
-

# link between wards and ED data?

- look through analysis from pmth data and copy?

# patient group clustering

# Dev

In [2]:
break

SyntaxError: 'break' outside loop (<ipython-input-2-6aaf1f276005>, line 1)