In [1]:
#import dep
import numpy as np
import pandas as pd

# local import
from hospital import *

In [2]:
pmth = hosp('pmth')

----------------------------------------
Created hosp class instance:  pmth
----------------------------------------
--------------------
Patient fileload:
--------------------
Found:  pmthEDpat.pkl
Missing:  pmthIPpat.pkl
--------------------
Daily fileload:
--------------------
Found:  pmthEDdaily.pkl
Missing:  pmthIPdaily.pkl

In [4]:
df = pmth.pat.get_ED()

In [5]:
df.head(2)

,dept_patid,hosp_patid,age,gender,site,arrival_date,arrival_time,arrival_mode,first_triage_time,first_dr_time,...,leaving_datetime,waiting_time,breach_flag,arr_hour,arr_dayofweek,arr_month,leaving_hour,leaving_dayofweek,leaving_month,adm_flag
0,1047212,4.723258e+09,41,Male,Queen Alexandra Hospital ED,22/01/2014,08:50,Private Transport,08:56,09:09,...,2014-01-22 10:48:00,118.0,0,8,2,1,10,2,1,0
1,4117153,4.307992e+09,42,Male,Queen Alexandra Hospital ED,22/01/2014,08:55,Private Transport,09:04,09:00,...,2014-01-22 10:01:00,66.0,0,8,2,1,10,2,1,0