In [1]:
#import dep
import numpy as np
import pandas as pd

# local import
from hospital import *

In [2]:
pmth = hosp('pmth')

----------------------------------------
Created hosp class instance:  pmth
----------------------------------------
--------------------
Patient fileload:
--------------------
Found:  pmthEDpat.pkl
Found:  pmthEDday.pkl
Missing:  pmthEDweek.pkl
Missing:  pmthEDmon.pkl
Missing:  pmthIPpat.pkl
Missing:  pmthIPday.pkl
Missing:  pmthIPweek.pkl
Missing:  pmthIPmon.pkl
--------------------
Daily fileload:
--------------------
Found:  pmthEDpat.pkl
Found:  pmthEDday.pkl
Missing:  pmthEDweek.pkl
Missing:  pmthEDmon.pkl
Missing:  pmthIPpat.pkl
Missing:  pmthIPday.pkl
Missing:  pmthIPweek.pkl
Missing:  pmthIPmon.pkl

In [3]:
df = pmth.pat.get_ED()

In [4]:
df.head(2)

,arrivals,age_median,discharges,admissions,breaches,minutes_used,mean_patient_minutes,conversion_ratio,breaches_perc
2014-01-02,295.0,42.0,249,66,70,56820.0,192.610169,0.223729,0.237288
2014-01-03,317.0,35.0,299,79,103,72787.0,229.611987,0.249211,0.324921

In [8]:
pd.read_pickle('./../../3_Data/processed/pmthEDpat.pkl')

,dept_patid,hosp_patid,age,gender,site,arrival_date,arrival_time,arrival_mode,first_triage_time,first_dr_time,...,arr_hour,arr_dayofweek,arr_month,leaving_hour,leaving_dayofweek,leaving_month,adm_flag,minutes_today,minutes_tomo,breach_datetime
0,1047212,4.723258e+09,41,Male,Queen Alexandra Hospital ED,22/01/2014,08:50,Private Transport,08:56,09:09,...,8,2,1,10,2,1,0,118.0,0,2014-01-22 12:50:00
1,4117153,4.307992e+09,42,Male,Queen Alexandra Hospital ED,22/01/2014,08:55,Private Transport,09:04,09:00,...,8,2,1,10,2,1,0,66.0,0,2014-01-22 12:55:00
2,23095613,4.546835e+09,57,Male,Queen Alexandra Hospital ED,22/01/2014,09:13,Private Transport,10:00,09:55,...,9,2,1,11,2,1,0,127.0,0,2014-01-22 13:13:00
3,29092601,4.967672e+09,87,Female,Queen Alexandra Hospital ED,22/01/2014,09:19,Ambulance,09:21,10:07,...,9,2,1,15,2,1,1,356.0,0,2014-01-22 13:19:00
4,25040842,7.030625e+09,5,Female,Queen Alexandra Hospital ED,22/01/2014,09:35,Private Transport,09:47,10:15,...,9,2,1,10,2,1,0,64.0,0,2014-01-22 13:35:00
5,31107801,4.723733e+09,35,Female,Queen Alexandra Hospital ED,22/01/2014,09:45,Private Transport,10:03,10:52,...,9,2,1,14,2,1,0,255.0,0,2014-01-22 13:45:00
6,15124233,4.201418e+09,71,Female,Queen Alexandra Hospital ED,22/01/2014,08:15,Private Transport,NaN,08:50,...,8,2,1,9,2,1,0,75.0,0,2014-01-22 12:15:00
7,30018909,4.725191e+09,24,Male,Queen Alexandra Hospital ED,22/01/2014,08:18,Private Transport,08:24,08:38,...,8,2,1,9,2,1,0,65.0,0,2014-01-22 12:18:00
8,8021320,6.534721e+09,0,Male,Queen Alexandra Hospital ED,22/01/2014,08:47,Private Transport,09:00,09:02,...,8,2,1,9,2,1,0,27.0,0,2014-01-22 12:47:00
9,27113806,6.109444e+09,75,Female,Queen Alexandra Hospital ED,22/01/2014,09:22,Public Transport,09:27,09:51,...,9,2,1,11,2,1,0,143.0,0,2014-01-22 13:22:00
10,14017622,4.724998e+09,38,Female,Queen Alexandra Hospital ED,22/01/2014,09:25,Private Transport,09:41,10:05,...,9,2,1,11,2,1,0,145.0,0,2014-01-22 13:25:00
11,13041340,6.533369e+09,0,Female,Queen Alexandra Hospital ED,22/01/2014,09:26,Private Transport,09:38,09:41,...,9,2,1,9,2,1,0,19.0,0,2014-01-22 13:26:00
12,13110538,6.456469e+09,8,Female,Queen Alexandra Hospital ED,22/01/2014,09:31,Private Transport,09:52,10:00,...,9,2,1,10,2,1,0,65.0,0,2014-01-22 13:31:00
13,4076302,4.826569e+09,50,Female,Queen Alexandra Hospital ED,22/01/2014,08:58,Private Transport,NaN,09:20,...,8,2,1,9,2,1,0,29.0,0,2014-01-22 12:58:00
14,12010202,6.441907e+09,12,Male,Queen Alexandra Hospital ED,22/01/2014,09:02,Private Transport,09:09,09:22,...,9,2,1,9,2,1,0,32.0,0,2014-01-22 13:02:00
15,6027806,4.725023e+09,35,Female,Queen Alexandra Hospital ED,22/01/2014,09:02,Ambulance,09:11,10:01,...,9,2,1,11,2,1,0,149.0,0,2014-01-22 13:02:00
16,11111145,7.090316e+09,2,Female,Queen Alexandra Hospital ED,22/01/2014,09:30,Public Transport,09:57,09:50,...,9,2,1,9,2,1,0,28.0,0,2014-01-22 13:30:00
17,20090925,7.007032e+09,4,Male,Queen Alexandra Hospital ED,22/01/2014,09:50,Private Transport,09:58,10:21,...,9,2,1,10,2,1,0,46.0,0,2014-01-22 13:50:00
18,30038909,4.725196e+09,24,Male,Queen Alexandra Hospital ED,22/01/2014,09:57,Private Transport,10:20,11:10,...,9,2,1,12,2,1,0,140.0,0,2014-01-22 13:57:00
19,24072220,4.184930e+09,91,Female,Queen Alexandra Hospital ED,22/01/2014,08:51,Ambulance,08:56,09:41,...,8,2,1,12,2,1,1,236.0,0,2014-01-22 12:51:00
20,27066513,4.430322e+09,48,Male,Queen Alexandra Hospital ED,22/01/2014,09:10,Private Transport,09:18,09:32,...,9,2,1,11,2,1,0,163.0,0,2014-01-22 13:10:00
21,11037002,4.388742e+09,43,Male,Queen Alexandra Hospital ED,22/01/2014,09:20,Public Transport,11:10,09:45,...,9,2,1,11,2,1,0,124.0,0,2014-01-22 13:20:00
22,21046644,6.326603e+09,47,Male,Queen Alexandra Hospital ED,22/01/2014,09:47,Ambulance,09:49,10:16,...,9,2,1,15,2,1,0,369.0,0,2014-01-22 13:47:00
23,2086510,4.763154e+09,48,Female,Queen Alexandra Hospital ED,22/01/2014,10:00,Other,NaN,11:42,...,10,2,1,11,2,1,0,116.0,0,2014-01-22 14:00:00
24,1124912,4.469257e+09,64,Female,Queen Alexandra Hospital ED,22/01/2014,10:00,Private Transport,10:10,10:45,...,10,2,1,11,2,1,0,80.0,0,2014-01-22 14:00:00
25,12041238,6.541371e+09,1,Male,Queen Alexandra Hospital ED,22/01/2014,10:07,Private Transport,10:15,10:40,...,10,2,1,10,2,1,0,47.0,0,2014-01-22 14:07:00
26,14108901,4.723938e+09,24,Female,Queen Alexandra Hospital ED,22/01/2014,10:15,Private Transport,10:29,10:20,...,10,2,1,11,2,1,0,65.0,0,2014-01-22 14:15:00
27,7107144,6.268634e+09,42,Male,Queen Alexandra Hospital ED,22/01/2014,08:15,Ambulance,NaN,08:30,...,8,2,1,11,2,1,0,194.0,0,2014-01-22 12:15:00
28,19111320,6.528689e+09,0,Male,Queen Alexandra Hospital ED,22/01/2014,10:59,Private Transport,11:05,12:20,...,10,2,1,12,2,1,0,100.0,0,2014-01-22 14:59:00
29,22112121,4.188823e+09,92,Male,Queen Alexandra Hospital ED,22/01/2014,10:00,Ambulance,10:07,11:19,...,10,2,1,13,2,1,1,219.0,0,2014-01-22 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186948,23119514,6.014650e+09,19,Male,Queen Alexandra Hospital ED,31/10/2015,14:32,Private Transport,14:42,15:47,...,14,5,10,15,5,10,0,83.0,0,2015-10-31 18:32:00
186949,19039304,4.723534e+09,22,Female,Queen Alexandra Hospital ED,31/10/2015,14:33,Ambulance,14:50,17:01,...,14,5,10,20,5,10,0,328.0,0,2015-10-31 18:33:00
186950,28075407,4.480418e+09,61,Female,Queen Alexandra Hospital ED,31/10/2015,15:08,Private Transport,15:46,17:04,...,15,5,10,19,5,10,1,275.0,0,2015-10-31 19:08:00
186951,8101439,6.480202e+09,1,Female,Queen Alexandra Hospital ED,31/10/2015,15:09,Private Transport,15:29,16:30,...,15,5,10,17,5,10,0,152.0,0,2015-10-31 19:09:00
186952,5127516,6.147040e+09,39,Female,Queen Alexandra Hospital ED,31/10/2015,15:13,Private Transport,16:00,16:30,...,15,5,10,18,5,10,0,170.0,0,2015-10-31 19:13:00
186953,2052401,4.185080e+09,91,Female,Queen Alexandra Hospital ED,31/10/2015,15:46,Ambulance,15:50,16:41,...,15,5,10,17,5,10,0,115.0,0,2015-10-31 19:46:00
186954,24107147,6.082740e+09,44,Female,Queen Alexandra Hospital ED,31/10/2015,15:59,Private Transport,16:41,18:22,...,15,5,10,19,5,10,0,229.0,0,2015-10-31 19:59:00
186955,18079044,6.081774e+09,25,Male,Queen Alexandra Hospital ED,31/10/2015,16:00,Private Transport,16:40,17:19,...,16,5,10,17,5,10,0,109.0,0,2015-10-31 20:00:00
186956,21090413,7.004163e+09,11,Female,Queen Alexandra Hospital ED,31/10/2015,16:43,Private Transport,17:06,17:18,...,16,5,10,18,5,10,0,101.0,0,2015-10-31 20:43:00
186957,2082812,4.190077e+09,87,Female,Queen Alexandra Hospital ED,31/10/2015,16:47,Ambulance,16:55,19:47,...,16,5,10,21,5,10,0,312.0,0,2015-10-31 20:47:00
186958,28100614,7.010548e+09,9,Female,Queen Alexandra Hospital ED,31/10/2015,16:45,Private Transport,17:04,17:45,...,16,5,10,18,5,10,0,78.0,0,2015-10-31 20:45:00
186959,11126302,4.826288e+09,51,Female,Queen Alexandra Hospital ED,31/10/2015,17:42,Private Transport,17:54,18:15,...,17,5,10,18,5,10,0,33.0,0,2015-10-31 21:42:00
186960,23036175,4.767372e+09,54,Male,Queen Alexandra Hospital ED,31/10/2015,17:48,Private Transport,17:56,19:39,...,17,5,10,20,5,10,0,142.0,0,2015-10-31 21:48:00
186961,31100913,6.485131e+09,6,Male,Queen Alexandra Hospital ED,31/10/2015,18:30,Private Transport,18:46,19:56,...,18,5,10,20,5,10,0,111.0,0,2015-10-31 22:30:00
186962,6095432,4.588724e+09,61,Male,Queen Alexandra Hospital ED,31/10/2015,19:18,Private Transport,19:34,20:39,...,19,5,10,22,5,10,0,189.0,0,2015-10-31 23:18:00
186963,28034614,6.048065e+09,69,Male,Queen Alexandra Hospital ED,31/10/2015,19:18,Private Transport,19:26,22:03,...,19,5,10,23,5,10,1,260.0,0,2015-10-31 23:18:00
186964,3058616,4.724320e+09,29,Female,Queen Alexandra Hospital ED,31/10/2015,19:35,Ambulance,19:44,20:07,...,19,5,10,22,5,10,1,151.0,0,2015-10-31 23:35:00
186965,17011468,6.527480e+09,1,Male,Queen Alexandra Hospital ED,31/10/2015,20:16,Other,20:25,21:03,...,20,5,10,23,5,10,0,175.0,0,2015-11-01 00:16:00
186966,19076353,4.780924e+09,52,Female,Queen Alexandra Hospital ED,31/10/2015,20:29,Private Transport,20:37,21:26,...,20,5,10,22,5,10,0,101.0,0,2015-11-01 00:29:00
186967,17071222,6.539266e+09,3,Female,Queen Alexandra Hospital ED,31/10/2015,21:12,Private Transport,21:34,21:33,...,21,5,10,21,5,10,0,38.0,0,2015-11-01 01:12:00
186968,IW179794,4.730241e+09,20,Female,Queen Alexandra Hospital ED,31/10/2015,19:15,Private Transport,19:19,20:36,...,19,5,10,20,5,10,0,82.0,0,2015-10-31 23:15:00
186969,6081212,6.538825e+09,3,Male,Queen Alexandra Hospital ED,31/10/2015,19:42,Private Transport,19:53,20:22,...,19,5,10,20,5,10,0,70.0,0,2015-10-31 23:42:00
186970,24048575,4.263220e+09,30,Female,Queen Alexandra Hospital ED,31/10/2015,20:12,Private Transport,20:27,21:19,...,20,5,10,21,5,10,0,85.0,0,2015-11-01 00:12:00
186971,15091250,6.537913e+09,3,Male,Queen Alexandra Hospital ED,31/10/2015,21:06,Private Transport,21:10,21:32,...,21,5,10,21,5,10,0,42.0,0,2015-11-01 01:06:00
186972,12011221,7.088980e+09,3,Male,Queen Alexandra Hospital ED,31/10/2015,23:04,Ambulance,NaN,23:31,...,23,5,10,23,5,10,0,34.0,0,2015-11-01 03:04:00
186973,18069804,6.367338e+09,17,Female,Queen Alexandra Hospital ED,31/10/2015,21:15,Taxi,21:29,23:05,...,21,5,10,23,5,10,0,164.0,0,2015-11-01 01:15:00
186974,15057911,4.724209e+09,36,Male,Queen Alexandra Hospital ED,31/10/2015,22:18,Private Transport,22:56,23:37,...,22,5,10,23,5,10,0,85.0,0,2015-11-01 02:18:00
186975,6080413,6.461382e+09,11,Male,Queen Alexandra Hospital ED,31/10/2015,20:36,Private Transport,20:49,21:31,...,20,5,10,23,5,10,0,193.0,0,2015-11-01 00:36:00
186976,5098724,4.724345e+09,28,Male,Queen Alexandra Hospital ED,31/10/2015,20:50,Other,20:52,23:15,...,20,5,10,23,5,10,0,149.0,0,2015-11-01 00:50:00
186977,1110827,6.470197e+09,6,Male,Queen Alexandra Hospital ED,31/10/2015,20:59,Private Transport,21:11,21:27,...,20,5,10,23,5,10,0,176.0,0,2015-11-01 00:59:00

In [9]:
pd.read_pickle('./../../3_Data/processed/pmthEDday.pkl')

,arrivals,age_median,discharges,admissions,breaches,minutes_used,mean_patient_minutes,conversion_ratio,breaches_perc
2014-01-02,295.0,42.0,249,66,70,56820.0,192.610169,0.223729,0.237288
2014-01-03,317.0,35.0,299,79,103,72787.0,229.611987,0.249211,0.324921
2014-01-04,296.0,33.0,326,84,89,68393.0,231.057432,0.283784,0.300676
2014-01-05,256.0,39.0,244,72,31,41379.0,161.636719,0.281250,0.121094
2014-01-06,341.0,38.0,334,105,33,58265.0,170.865103,0.307918,0.096774
2014-01-07,302.0,42.0,289,102,46,57964.0,191.933775,0.337748,0.152318
2014-01-08,264.0,39.5,292,105,62,53232.0,201.636364,0.397727,0.234848
2014-01-09,310.0,41.0,284,89,67,61020.0,196.838710,0.287097,0.216129
2014-01-10,277.0,34.0,295,107,80,59716.0,215.581227,0.386282,0.288809
2014-01-11,324.0,36.0,314,112,76,67976.0,209.802469,0.345679,0.234568
2014-01-12,276.0,35.5,286,97,52,53374.0,193.384058,0.351449,0.188406
2014-01-13,NaN,NaN,46,24,18,NaN,NaN,NaN,NaN
2014-01-22,219.0,35.0,178,47,37,34453.0,157.319635,0.214612,0.168950
2014-01-23,245.0,42.0,239,69,91,58934.0,240.546939,0.281633,0.371429
2014-01-24,234.0,47.0,240,81,104,69619.0,297.517094,0.346154,0.444444
2014-01-25,265.0,36.0,272,65,73,64692.0,244.120755,0.245283,0.275472
2014-01-26,271.0,40.0,283,71,69,57610.0,212.583026,0.261993,0.254613
2014-01-27,319.0,43.0,297,80,74,61594.0,193.084639,0.250784,0.231975
2014-01-28,258.0,40.0,268,73,34,45521.0,176.437984,0.282946,0.131783
2014-01-29,251.0,42.0,234,77,66,51996.0,207.155378,0.306773,0.262948
2014-01-30,238.0,43.0,258,66,71,48292.0,202.907563,0.277311,0.298319
2014-01-31,226.0,41.0,208,67,31,39059.0,172.827434,0.296460,0.137168
2014-02-01,NaN,NaN,49,23,23,NaN,NaN,NaN,NaN
2014-02-02,313.0,35.0,270,59,77,62207.0,198.744409,0.188498,0.246006
2014-02-03,299.0,37.0,302,88,72,65454.0,218.909699,0.294314,0.240803
2014-02-04,249.0,34.0,257,65,13,37126.0,149.100402,0.261044,0.052209
2014-02-05,244.0,44.0,235,80,36,46626.0,191.090164,0.327869,0.147541
2014-02-06,314.0,42.0,303,85,77,61822.0,196.885350,0.270701,0.245223
2014-02-07,279.0,37.0,275,101,62,54503.0,195.351254,0.362007,0.222222
2014-02-08,326.0,44.5,327,113,71,62926.0,193.024540,0.346626,0.217791
...,...,...,...,...,...,...,...,...,...
2015-10-24,321.0,42.0,310,116,90,67489.0,210.246106,0.361371,0.280374
2015-10-25,357.0,32.0,360,111,93,73189.0,205.011204,0.310924,0.260504
2015-10-26,315.0,42.0,310,110,105,67520.0,214.349206,0.349206,0.333333
2015-10-27,283.0,46.0,267,110,101,71872.0,253.964664,0.388693,0.356890
2015-10-28,278.0,36.0,311,107,92,69180.0,248.848921,0.384892,0.330935
2015-10-29,295.0,47.0,274,98,49,48140.0,163.186441,0.332203,0.166102
2015-10-30,286.0,45.0,292,112,80,61251.0,214.164336,0.391608,0.279720
2015-10-31,266.0,40.5,314,98,81,59595.0,224.041353,0.368421,0.304511
2015-11-01,286.0,46.5,243,81,51,53316.0,186.419580,0.283217,0.178322
2015-11-02,230.0,43.0,223,92,84,60202.0,261.747826,0.400000,0.365217
2015-11-03,298.0,41.0,294,110,50,61876.0,207.637584,0.369128,0.167785
2015-11-04,326.0,42.0,322,115,87,72049.0,221.009202,0.352761,0.266871
2015-11-05,312.0,37.5,308,114,89,67525.0,216.426282,0.365385,0.285256
2015-11-06,295.0,39.0,297,105,56,53527.0,181.447458,0.355932,0.189831
2015-11-07,345.0,37.0,333,110,76,67446.0,195.495652,0.318841,0.220290
2015-11-08,273.0,44.0,303,116,73,58683.0,214.956044,0.424908,0.267399
2015-11-09,277.0,38.0,297,99,37,49782.0,179.718412,0.357401,0.133574
2015-11-10,310.0,34.0,287,78,61,56871.0,183.454839,0.251613,0.196774
2015-11-11,NaN,NaN,45,28,13,NaN,NaN,NaN,NaN
2015-12-01,253.0,41.0,211,61,47,43062.0,170.205534,0.241107,0.185771
2015-12-02,260.0,47.5,244,96,94,62524.0,240.476923,0.369231,0.361538
2015-12-03,225.0,40.0,253,98,51,51295.0,227.977778,0.435556,0.226667
2015-12-04,314.0,38.0,301,83,64,58419.0,186.047771,0.264331,0.203822
2015-12-05,320.0,43.0,307,116,73,64738.0,202.306250,0.362500,0.228125
2015-12-06,310.0,44.0,314,122,96,68467.0,220.861290,0.393548,0.309677
2015-12-07,322.0,38.0,333,113,98,71825.0,223.059006,0.350932,0.304348
2015-12-08,284.0,42.0,277,94,41,53199.0,187.320423,0.330986,0.144366
2015-12-09,317.0,40.0,335,110,16,51282.0,161.772871,0.347003,0.050473
2015-12-10,356.0,37.0,307,108,93,68286.0,191.814607,0.303371,0.261236
2015-12-11,NaN,NaN,79,45,30,NaN,NaN,NaN,NaN