In [1]:
import pandas as pd
import numpy as np

import flosp

In [2]:
sd = flosp.Interface("./setup.py")

flosp started.
<module 'flosp.expected_structures.ED' from 'C:\\Users\\bjk1y13\\OneDrive - University of Southampton\\MH030_HHFT_flow\\4_Analysis\\flosp\\flosp\\expected_structures\\ED.py'>
<module 'flosp.expected_structures.IP' from 'C:\\Users\\bjk1y13\\OneDrive - University of Southampton\\MH030_HHFT_flow\\4_Analysis\\flosp\\flosp\\expected_structures\\IP.py'>
Imported setup.py sucessfully.
Loading processed data from pickles.
Found: ./simpleday/example_results/processed/ED.pkl
Missing: ./simpleday/example_results/processed/IPfce.pkl
Missing: ./simpleday/example_results/processed/IPward.pkl
Missing: ./simpleday/example_results/processed/IPspell.pkl
Missing: ./simpleday/example_results/processed/HOURLY.pkl
Missing: ./simpleday/example_results/processed/DAILY.pkl

In [3]:
sd.metadata.HOSPITAL_NAME

'simpleday'

In [4]:
sd.metadata.RESULTS_SAVE_PATH

'./simpleday/example_results/'

In [5]:
sd.load_dataED("./SimpleED.csv")

IO class called.
ARRIVAL_DTTM
TRIAGE_ASSESSMENT_DTTM
FIRSTDOC_FOR_TREATMENT_DTTM
ADM_REQUEST_DTTM
DEPARTURE_DTTM
----------------------------------------
Making callender columns from:  ARRIVAL_DTTM
----------------------------------------
Making callender columns from:  DEPARTURE_DTTM
----------------------------------------
saved file: ./simpleday/example_results/processed/ED.pkl
Import completed.

In [6]:
sd.load_dataIP("./SimpleIP.csv")

IO class called.
ADM_DTTM
DIS_DTTM
MOVE_START
MOVE_END
----------------------------------------
Making callender columns from:  ADM_DTTM
----------------------------------------
Making callender columns from:  DIS_DTTM
----------------------------------------
saved file: ./simpleday/example_results/processed/IP.pkl
Import completed.

In [7]:
sd.make_new_tables()

[Timestamp('2018-01-01 23:05:00'), Timestamp('2018-01-01 23:05:00')]

In [8]:
sd.data.HOURLY.sum()

ED_arrivals              24.0
ED_departures            24.0
IP_admissions_total      48.0
IP_discharges_total      48.0
ED_occ_total             48.0
IP_occ_total           3504.0
dtype: float64

In [9]:
test = sd.data.HOURLY

In [10]:
test.shape

(96, 6)

In [9]:
test.drop(index=test.index[[2,3,4,5]],inplace=True)

In [11]:
test

,ED_arrivals,ED_departures,IP_admissions_total,IP_discharges_total,ED_occ_total,IP_occ_total
2018-01-01 00:00:00,1.0,0.0,2.0,0.0,1.0,2
2018-01-01 01:00:00,1.0,1.0,2.0,0.0,2.0,4
2018-01-01 06:00:00,1.0,1.0,2.0,0.0,2.0,14
2018-01-01 07:00:00,1.0,1.0,2.0,0.0,2.0,16
2018-01-01 08:00:00,1.0,1.0,2.0,0.0,2.0,18
2018-01-01 09:00:00,1.0,1.0,2.0,0.0,2.0,20
2018-01-01 10:00:00,1.0,1.0,2.0,0.0,2.0,22
2018-01-01 11:00:00,1.0,1.0,2.0,0.0,2.0,24
2018-01-01 12:00:00,1.0,1.0,2.0,0.0,2.0,26
2018-01-01 13:00:00,1.0,1.0,2.0,0.0,2.0,28
2018-01-01 14:00:00,1.0,1.0,2.0,0.0,2.0,30
2018-01-01 15:00:00,1.0,1.0,2.0,0.0,2.0,32
2018-01-01 16:00:00,1.0,1.0,2.0,0.0,2.0,34
2018-01-01 17:00:00,1.0,1.0,2.0,0.0,2.0,36
2018-01-01 18:00:00,1.0,1.0,2.0,0.0,2.0,38
2018-01-01 19:00:00,1.0,1.0,2.0,0.0,2.0,40
2018-01-01 20:00:00,1.0,1.0,2.0,0.0,2.0,42
2018-01-01 21:00:00,1.0,1.0,2.0,0.0,2.0,44
2018-01-01 22:00:00,1.0,1.0,2.0,0.0,2.0,46
2018-01-01 23:00:00,1.0,1.0,2.0,0.0,2.0,48
2018-01-02 00:00:00,0.0,1.0,0.0,0.0,1.0,48
2018-01-02 01:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-02 02:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-02 03:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-02 04:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-02 05:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-02 06:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-02 07:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-02 08:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-02 09:00:00,0.0,0.0,0.0,0.0,NaN,48
...,...,...,...,...,...,...
2018-01-03 18:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-03 19:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-03 20:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-03 21:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-03 22:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-03 23:00:00,0.0,0.0,0.0,0.0,NaN,48
2018-01-04 00:00:00,0.0,0.0,0.0,2.0,NaN,48
2018-01-04 01:00:00,0.0,0.0,0.0,2.0,NaN,46
2018-01-04 02:00:00,0.0,0.0,0.0,2.0,NaN,44
2018-01-04 03:00:00,0.0,0.0,0.0,2.0,NaN,42
2018-01-04 04:00:00,0.0,0.0,0.0,2.0,NaN,40
2018-01-04 05:00:00,0.0,0.0,0.0,2.0,NaN,38
2018-01-04 06:00:00,0.0,0.0,0.0,2.0,NaN,36
2018-01-04 07:00:00,0.0,0.0,0.0,2.0,NaN,34
2018-01-04 08:00:00,0.0,0.0,0.0,2.0,NaN,32
2018-01-04 09:00:00,0.0,0.0,0.0,2.0,NaN,30
2018-01-04 10:00:00,0.0,0.0,0.0,2.0,NaN,28
2018-01-04 11:00:00,0.0,0.0,0.0,2.0,NaN,26
2018-01-04 12:00:00,0.0,0.0,0.0,2.0,NaN,24
2018-01-04 13:00:00,0.0,0.0,0.0,2.0,NaN,22
2018-01-04 14:00:00,0.0,0.0,0.0,2.0,NaN,20
2018-01-04 15:00:00,0.0,0.0,0.0,2.0,NaN,18
2018-01-04 16:00:00,0.0,0.0,0.0,2.0,NaN,16
2018-01-04 17:00:00,0.0,0.0,0.0,2.0,NaN,14
2018-01-04 18:00:00,0.0,0.0,0.0,2.0,NaN,12
2018-01-04 19:00:00,0.0,0.0,0.0,2.0,NaN,10
2018-01-04 20:00:00,0.0,0.0,0.0,2.0,NaN,8
2018-01-04 21:00:00,0.0,0.0,0.0,2.0,NaN,6
2018-01-04 22:00:00,0.0,0.0,0.0,2.0,NaN,4
2018-01-04 23:00:00,0.0,0.0,0.0,2.0,NaN,2

In [17]:
test.iloc[5:10].drop()

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [21]:
sd.data.HOURLY2.head()

                    ED_occ_total
2018-01-01 00:00:00          NaN
2018-01-01 01:00:00          NaN
2018-01-01 01:00:00          NaN
2018-01-01 02:00:00          NaN
2018-01-01 02:00:00          NaN

In [22]:
sd.data.ED.head()

,ADMISSION_FLAG,ADM_REQUEST_DTTM,ADM_REQUEST_LOC_DESCRIPTION,AGE_AT_ARRIVAL,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,DEPARTURE_DTTM,FIRSTDOC_FOR_TREATMENT_DTTM,GENDER_NATIONAL_DESCRIPTION,PSEUDONYMISED_PATIENT_ID,...,waiting_time,arr_triage_wait,arr_dr_wait,arr_adm_req_wait,adm_req_dep_wait,dr_adm_req_wait,dr_dep_wait,breach_flag,breach_datetime,event_column_name_rounded
0,1,2018-01-01 00:50:00,inpatient,65,2018-01-01 00:05:00,1,2018-01-01 01:05:00,2018-01-01 00:15:00,1,0,...,60.0,10.0,10.0,45.0,15.0,35.0,50.0,0,2018-01-01 04:05:00,2018-01-01 01:00:00
1,1,2018-01-01 01:50:00,inpatient,86,2018-01-01 01:05:00,1,2018-01-01 02:05:00,2018-01-01 01:15:00,1,1,...,60.0,10.0,10.0,45.0,15.0,35.0,50.0,0,2018-01-01 05:05:00,2018-01-01 02:00:00
2,1,2018-01-01 02:50:00,inpatient,43,2018-01-01 02:05:00,1,2018-01-01 03:05:00,2018-01-01 02:15:00,1,2,...,60.0,10.0,10.0,45.0,15.0,35.0,50.0,0,2018-01-01 06:05:00,2018-01-01 03:00:00
3,1,2018-01-01 03:50:00,inpatient,85,2018-01-01 03:05:00,1,2018-01-01 04:05:00,2018-01-01 03:15:00,1,3,...,60.0,10.0,10.0,45.0,15.0,35.0,50.0,0,2018-01-01 07:05:00,2018-01-01 04:00:00
4,1,2018-01-01 04:50:00,inpatient,41,2018-01-01 04:05:00,1,2018-01-01 05:05:00,2018-01-01 04:15:00,1,4,...,60.0,10.0,10.0,45.0,15.0,35.0,50.0,0,2018-01-01 08:05:00,2018-01-01 05:00:00

In [ ]:
sd.data.ED.DEPARTURE_DTTM

In [30]:
sd.data.ED.columns

Index(['ADMISSION_FLAG', 'ADM_REQUEST_DTTM', 'ADM_REQUEST_LOC_DESCRIPTION',
       'AGE_AT_ARRIVAL', 'ARRIVAL_DTTM', 'ARRIVAL_MODE_NATIONAL_CODE',
       'DEPARTURE_DTTM', 'FIRSTDOC_FOR_TREATMENT_DTTM',
       'GENDER_NATIONAL_DESCRIPTION', 'PSEUDONYMISED_PATIENT_ID', 'SITE',
       'STREAM_LOCAL_CODE', 'TRIAGE_ASSESSMENT_DTTM', 'ARRIVAL_hour',
       'ARRIVAL_dayofweek', 'ARRIVAL_day', 'ARRIVAL_month', 'ARRIVAL_week',
       'ARRIVAL_dayofweek_name', 'ARRIVAL_year', 'ARRIVAL_date',
       'ARRIVAL_flag_wkend', 'DEPARTURE_hour', 'DEPARTURE_dayofweek',
       'DEPARTURE_day', 'DEPARTURE_month', 'DEPARTURE_week',
       'DEPARTURE_dayofweek_name', 'DEPARTURE_year', 'DEPARTURE_date',
       'DEPARTURE_flag_wkend', 'age_group', 'waiting_time', 'arr_triage_wait',
       'arr_dr_wait', 'arr_adm_req_wait', 'adm_req_dep_wait',
       'dr_adm_req_wait', 'dr_dep_wait', 'breach_flag', 'breach_datetime',
       'event_column_name_rounded'],
      dtype='object')

In [126]:
import itertools
def count_hourly_occupancy2(df,datetime_col_start,datetime_column_end, new_column_name):
    """
    Function takes patient record level dataframe and calculates the occupancy/activity for each hour of the day.
    The activity is defined based on the two datetime columns being provided.
    e.g. if 'attendnace datetime' and 'departure datetime' were given then the 'activity' would be the occupancy of the department.

    Inputs
    ======
    df, pandas dataframe, with patient-record level activity.
    datetime_col_start, str, name of column in df when the activity begins. Column must be in datetime format.
    datetime_col_end, str, name of column in df when the activity ends. Column must be in datetime format.
    new_col_name, str, name to assign the new column that is produced.

    Output
    ======
    df, pandas dataframe, datetime index at hourly level, single column containing the count of activity in that hour
    (index potentially not continuous).
    """
    #### setup data to be easier to compute, 
#         df['event_column_name_rounded'] = df[event_column_name].apply(lambda x : x.replace(second=0, minute=0)) # round to lower hour
    df1 = df[[datetime_col_start,datetime_column_end]].copy()
    df1[datetime_col_start] = df1[datetime_col_start].apply(lambda x : x.replace(second=0,minute=0)) # round arrival hour down
    df1[datetime_column_end] = df1[datetime_column_end].apply(lambda x : x.replace(second=0,minute=0)) +pd.Timedelta(hours=1)
    
    
    #### create col with number of hours active 
    df1['n_hours'] = ((df1[datetime_column_end] - df1[datetime_col_start])/pd.Timedelta(1,'h')).astype(int)
    df1 = df1.drop(df1[df1['n_hours'] <=0].index) # must drop the negative n_hour rows as otherwise messes up my size of array initilisation (was getting an error that the index i was assinging to in ids was out of bounds).

    #### time efficient (i hope) function for cycling through and finding all combinations of active hours for attednaces 
    # - create a (long format) list of links between attendance numbers and 
    # function for list comp which finds list of datetimes (for each hour)
    date_func = lambda datetime , offset : datetime + pd.Timedelta(offset,'h')

    # iterate over rows in df
    df1 = df1.reset_index() # reset so have the new index to itereate over

    ids = np.empty(shape=(df1['n_hours'].sum()),dtype='int64') # initilise array - change to np.empty() to speed up
    timestamps = np.empty(shape=(df1['n_hours'].sum()),dtype='datetime64[s]')
    row_count = 0 # initialise row counter for empty arrays
    
    # iterate through rows of df
    for row in df1.itertuples():
        atten_id = [row[1]] # get attendance id
        hour_list = [date_func(row[2],i) for i in np.arange(row[4])] # make a list datetimes for each hour that patient is active.

        # populate empty arrays with seperate list of ids and timestamps.  
        for i in itertools.product(atten_id,hour_list):
            ids[row_count] = i[0] # assign patient number to array
            timestamps[row_count] = i[1] # 
            row_count += 1 # add to row count for new id-> hour pair
    
    # put ids and timestamps into df
    data = {'atten_id':ids,'hours':timestamps}
    df_new = pd.DataFrame(data=data)
    
    # count isntances for each hour
    df_new = df_new.groupby(['hours']).count()
    
    # set hours column to index
#     df_new.set_index('hours', inplace=True)
    df_new.index.name = '' # remove 'hours' as index name
    
    return df_new

df_new = count_hourly_occupancy2(sd.data.ED,'ARRIVAL_DTTM','DEPARTURE_DTTM','new_col')


df_new.head()

                     atten_id

2018-01-01 00:00:00         1
2018-01-01 01:00:00         2
2018-01-01 02:00:00         2
2018-01-01 03:00:00         2
2018-01-01 04:00:00         2

In [118]:
df_new.index.name = ''

In [121]:
df_new.index

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 01:00:00', '2018-01-01 02:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 03:00:00', '2018-01-01 04:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 05:00:00', '2018-01-01 06:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 07:00:00', '2018-01-01 08:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               '2018-01-01 09:00:00', '2018-01-01 10:00:00',
               '2018-01-01 10:00:00', '2018-01-01 11:00:00',
               '2018-01-01 11:00:00', '2018-01-01 12:00:00',
               '2018-01-01 12:00:00', '2018-01-01 13:00:00',
               '2018-01-01 13:00:00', '2018-01-01 14:00:00',
               '2018-01-01 14:00:00', '2018-01-01 15:00:00',
               '2018-01-01 15:00:00', '2018-01-01 16:00:00',
               '2018-01-01 16:00:00', '2018-01-01 17:00:00',
               '2018-01-01 17:00:00', '2018-01-01 18:00:00',
               '2018-01-01 18:00:00', '2018-01-01 19:00:00',
               '2018-01-01 19:00:00', '2018-01-01 20:00:00',
               '2018-01-01 20:00:00', '2018-01-01 21:00:00',
               '2018-01-01 21:00:00', '2018-01-01 22:00:00',
               '2018-01-01 22:00:00', '2018-01-01 23:00:00',
               '2018-01-01 23:00:00', '2018-01-02 00:00:00'],
              dtype='datetime64[ns]', name='', freq=None)

In [104]:
date_func = lambda datetime , offset : datetime + pd.Timedelta(offset,'h')
ids = np.empty(shape=(df1['n_hours'].sum()),dtype='int64') # initilise array - change to np.empty() to speed up
timestamps = np.empty(shape=(df1['n_hours'].sum()),dtype='datetime64[s]')
row_count = 0

for row in df1.itertuples():
    atten_id = [row[1]] # get attendance ID
    hour_list = [date_func(row[2],i) for i in np.arange(row[4])] # make a list datetimes for each hour that patient is active.
#     print(atten_id)
#     print(hour_list)

    # create array of list for all combinations of timestamp
    for i in itertools.product(atten_id,hour_list):
        ids[row_count] = i[0] # assign patient numbers
        timestamps[row_count] = i[1]
        row_count += 1 # add to row count for new array
#         print(i)
    
# put into df
data = {'atten_id':ids,'hours':timestamps}
df_new = pd.DataFrame(data=data)#,index=ids)#,columns=['new_col'])

In [107]:
df_new.groupby(['hours']).count()

                     atten_id
hours
2018-01-01 00:00:00         1
2018-01-01 01:00:00         2
2018-01-01 02:00:00         2
2018-01-01 03:00:00         2
2018-01-01 04:00:00         2
2018-01-01 05:00:00         2
2018-01-01 06:00:00         2
2018-01-01 07:00:00         2
2018-01-01 08:00:00         2
2018-01-01 09:00:00         2
2018-01-01 10:00:00         2
2018-01-01 11:00:00         2
2018-01-01 12:00:00         2
2018-01-01 13:00:00         2
2018-01-01 14:00:00         2
2018-01-01 15:00:00         2
2018-01-01 16:00:00         2
2018-01-01 17:00:00         2
2018-01-01 18:00:00         2
2018-01-01 19:00:00         2
2018-01-01 20:00:00         2
2018-01-01 21:00:00         2
2018-01-01 22:00:00         2
2018-01-01 23:00:00         2
2018-01-02 00:00:00         1

In [100]:
df_new.groupby(['new_col']).count()

Empty DataFrame
Columns: []
Index: [2018-01-01 00:00:00, 2018-01-01 01:00:00, 2018-01-01 02:00:00, 2018-01-01 03:00:00, 2018-01-01 04:00:00, 2018-01-01 05:00:00, 2018-01-01 06:00:00, 2018-01-01 07:00:00, 2018-01-01 08:00:00, 2018-01-01 09:00:00, 2018-01-01 10:00:00, 2018-01-01 11:00:00, 2018-01-01 12:00:00, 2018-01-01 13:00:00, 2018-01-01 14:00:00, 2018-01-01 15:00:00, 2018-01-01 16:00:00, 2018-01-01 17:00:00, 2018-01-01 18:00:00, 2018-01-01 19:00:00, 2018-01-01 20:00:00, 2018-01-01 21:00:00, 2018-01-01 22:00:00, 2018-01-01 23:00:00, 2018-01-02 00:00:00]

In [65]:
row[4],i

(2, (23, Timestamp('2018-01-02 00:00:00')))

In [68]:
ids

array([ 0,  0,  1,  1,  2,  2,  3,  3,  4,  4,  5,  5,  6,  6,  7,  7,  8,
        8,  9,  9, 10, 10, 11, 11, 12, 12, 13, 13, 14, 14, 15, 15, 16, 16,
       17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23], dtype=int64)

In [78]:
row[1]

23

In [76]:
row.ARRIVAL_DTTM

Timestamp('2018-01-01 23:00:00')

In [66]:
hour_list

[Timestamp('2018-01-01 23:00:00'), Timestamp('2018-01-02 00:00:00')]

In [60]:
row_count

48

In [58]:
df_new

                    new_col
2018-01-01 00:00:00     NaN
2018-01-01 01:00:00     NaN
2018-01-01 01:00:00     NaN
2018-01-01 02:00:00     NaN
2018-01-01 02:00:00     NaN
2018-01-01 03:00:00     NaN
2018-01-01 03:00:00     NaN
2018-01-01 04:00:00     NaN
2018-01-01 04:00:00     NaN
2018-01-01 05:00:00     NaN
2018-01-01 05:00:00     NaN
2018-01-01 06:00:00     NaN
2018-01-01 06:00:00     NaN
2018-01-01 07:00:00     NaN
2018-01-01 07:00:00     NaN
2018-01-01 08:00:00     NaN
2018-01-01 08:00:00     NaN
2018-01-01 09:00:00     NaN
2018-01-01 09:00:00     NaN
2018-01-01 10:00:00     NaN
2018-01-01 10:00:00     NaN
2018-01-01 11:00:00     NaN
2018-01-01 11:00:00     NaN
2018-01-01 12:00:00     NaN
2018-01-01 12:00:00     NaN
2018-01-01 13:00:00     NaN
2018-01-01 13:00:00     NaN
2018-01-01 14:00:00     NaN
2018-01-01 14:00:00     NaN
2018-01-01 15:00:00     NaN
2018-01-01 15:00:00     NaN
2018-01-01 16:00:00     NaN
2018-01-01 16:00:00     NaN
2018-01-01 17:00:00     NaN
2018-01-01 17:00:00     NaN
2018-01-01 18:00:00     NaN
2018-01-01 18:00:00     NaN
2018-01-01 19:00:00     NaN
2018-01-01 19:00:00     NaN
2018-01-01 20:00:00     NaN
2018-01-01 20:00:00     NaN
2018-01-01 21:00:00     NaN
2018-01-01 21:00:00     NaN
2018-01-01 22:00:00     NaN
2018-01-01 22:00:00     NaN
2018-01-01 23:00:00     NaN
2018-01-01 23:00:00     NaN
2018-01-02 00:00:00     NaN

In [27]:
count_hourly_occupancy(sd.data.ED,'ARRIVAL_DTTM','DEPARTURE_DTTM','new_col')

                    new_col
2018-01-01 00:00:00     NaN
2018-01-01 01:00:00     NaN
2018-01-01 01:00:00     NaN
2018-01-01 02:00:00     NaN
2018-01-01 02:00:00     NaN
2018-01-01 03:00:00     NaN
2018-01-01 03:00:00     NaN
2018-01-01 04:00:00     NaN
2018-01-01 04:00:00     NaN
2018-01-01 05:00:00     NaN
2018-01-01 05:00:00     NaN
2018-01-01 06:00:00     NaN
2018-01-01 06:00:00     NaN
2018-01-01 07:00:00     NaN
2018-01-01 07:00:00     NaN
2018-01-01 08:00:00     NaN
2018-01-01 08:00:00     NaN
2018-01-01 09:00:00     NaN
2018-01-01 09:00:00     NaN
2018-01-01 10:00:00     NaN
2018-01-01 10:00:00     NaN
2018-01-01 11:00:00     NaN
2018-01-01 11:00:00     NaN
2018-01-01 12:00:00     NaN
2018-01-01 12:00:00     NaN
2018-01-01 13:00:00     NaN
2018-01-01 13:00:00     NaN
2018-01-01 14:00:00     NaN
2018-01-01 14:00:00     NaN
2018-01-01 15:00:00     NaN
2018-01-01 15:00:00     NaN
2018-01-01 16:00:00     NaN
2018-01-01 16:00:00     NaN
2018-01-01 17:00:00     NaN
2018-01-01 17:00:00     NaN
2018-01-01 18:00:00     NaN
2018-01-01 18:00:00     NaN
2018-01-01 19:00:00     NaN
2018-01-01 19:00:00     NaN
2018-01-01 20:00:00     NaN
2018-01-01 20:00:00     NaN
2018-01-01 21:00:00     NaN
2018-01-01 21:00:00     NaN
2018-01-01 22:00:00     NaN
2018-01-01 22:00:00     NaN
2018-01-01 23:00:00     NaN
2018-01-01 23:00:00     NaN
2018-01-02 00:00:00     NaN

In [ ]:
for row in

In [20]:
def count_hourly_occupancy(df,arrival_col,departure_col,count_name):
    """
    inputs:
    df with attendance number as index,
    arrival, departure datetime col names (must be datetime format)
    ouptut:
    df, contains many-to-many link between the arrival_
    NOTE: re-write required: very slow.
    """
    import itertools
    df1 = df[[arrival_col,departure_col]].copy()
    df1[arrival_col] = df1[arrival_col].apply(lambda x : x.replace(second=0,minute=0)) # round arrival hour down
    df1[departure_col] = df1[departure_col].apply(lambda x : x.replace(second=0,minute=0)) +pd.Timedelta(hours=1) # round leaving tim up
    
    #### create col with number of hours active 
    df1['n_hours'] = ((df1[departure_col] - df1[arrival_col])/pd.Timedelta(1,'h')).astype(int)
    df1 = df1.drop(df1[df1['n_hours'] <=0].index) # must drop the negative n_hour rows as otherwise messes up my size of array initilisation (was getting an error that the index i was assinging to in ids was out of bounds).
    
    #### time efficient (i hope) function for cycling through and finding all combinations of active hours for attednaces - create a (long format) list of links between attendance numbers and 

    # function for list comp which finds list of datetimes (for each hour)
    date_func = lambda datetime , offset : datetime + pd.Timedelta(offset,'h')

    # iterate over rows in df
    df1 = df1.reset_index() # reset so have the new index to itereate over

    ids = np.empty(shape=(df1['n_hours'].sum()),dtype='int64') # initilise array - change to np.empty() to speed up
    timestamps = np.empty(shape=(df1['n_hours'].sum()),dtype='datetime64[s]')
    row_count = 0

    for row in df1.itertuples():
        atten_id = [row[1]]
        hour_list = [date_func(row[2],i) for i in np.arange(row[4])] # creates list of hour datetimes

        # create array of list for all combinations of timestamp
        for i in itertools.product(atten_id,hour_list):
            ids[row_count] = i[0] # assign patient numbers
            timestamps[row_count] = i[1]
            row_count += 1 # add to row count for new array    
    # put into df
    data = {'atten_id':ids}
    df_new = pd.DataFrame(data=data,index=timestamps,columns=[count_name])

    return(df_new)

In [7]:
break

SyntaxError: 'break' outside loop (<ipython-input-7-6aaf1f276005>, line 1)

In [6]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is EE63-178E

 Directory of C:\Users\bjk1y13\OneDrive - University of Southampton\MH030_HHFT_flow\4_Analysis\flosp\flosp\test\data

22/02/2019  15:25    <DIR>          .
22/02/2019  15:25    <DIR>          ..
19/02/2019  14:44    <DIR>          .ipynb_checkpoints
19/02/2019  14:38    <DIR>          __pycache__
22/02/2019  15:26    <DIR>          simpleday
22/02/2019  15:25             5,757 simpleday.ipynb
19/02/2019  14:43               796 test_simpleday.py
               2 File(s)          6,553 bytes
               5 Dir(s)  335,205,785,600 bytes free

In [13]:
setup = imp.load_source('setup.py',)

In [14]:
setup.RESULTS_SAVE_PATH

'./simpleday/example_results/'

In [32]:
path = "..//"
from path import flosp

ImportError: cannot import name 'flosp'

In [4]:
break

SyntaxError: 'break' outside loop (<ipython-input-4-6aaf1f276005>, line 1)

In [ ]:
def import_package_above(num_dirs, module_name):
    """ imports a package by moving to directory above, running import statement and returning to original directory"""
    import importlib
    import os
    
    path_original = os.getcwd()
    os.chdir("../../" * num_dirs) # move up to directory
    try:
        module = importlib.import_module(module_name)
        print('Loaded package ', module_name)
    except:
        print('Could not load package')
        
    os.chdir(path_original) # return to original directory
    return(module)

flosp = import_package_above(2,'flosp')