In [1]:
import pandas as pd
import numpy as np

PSEUDONYMISED_PATIENT_ID,AGE_AT_ARRIVAL,GENDER_NATIONAL_DESCRIPTION,SITE,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,TRIAGE_ASSESSMENT_DTTM,FIRSTDOC_FOR_TREATMENT_DTTM,ADM_REQUEST_DTTM,ADM_REQUEST_LOC_DESCRIPTION,ADMISSION_FLAG,DEPARTURE_DTTM,STREAM_LOCAL_CODE
4484,56,Female,HOSPITAL1,2013-08-04 09:59:00,2.0,2013-08-01 10:52:00,2013-08-01 12:41:00,,,0,2013-08-03 12:22:00,MIN

# ED

In [2]:
np.random.seed(7)

In [3]:
size = 24

In [4]:
def make_datetime_array(size):
    datetimes = []
    j = 0

    for i in np.arange(size):

        new = pd.datetime(2018,1,1,j,5)
        j+=1
        datetimes.append(new)
    return datetimes

#make_datetime_array(size)
#datetimes

In [5]:
arrival_array = make_datetime_array(size)

In [6]:
ED_data = {
'PSEUDONYMISED_PATIENT_ID':np.arange(0,size),
'AGE_AT_ARRIVAL':np.random.randint(18,100,size),
'GENDER_NATIONAL_DESCRIPTION':[1]*size,
'SITE':['HOSPITAL']*size,
'ARRIVAL_DTTM':arrival_array,
'ARRIVAL_MODE_NATIONAL_CODE':[1]*size,
'TRIAGE_ASSESSMENT_DTTM':[np.datetime64()] * size,
'FIRSTDOC_FOR_TREATMENT_DTTM':[np.datetime64()] * size,
'ADM_REQUEST_DTTM':[np.datetime64()] * size,
'ADM_REQUEST_LOC_DESCRIPTION':['inpatient']*size,
'ADMISSION_FLAG':[0]*size,
'DEPARTURE_DTTM':[np.datetime64()] * size,
'STREAM_LOCAL_CODE':['MAJORS']* size,
}

In [7]:
dfED = pd.DataFrame(data=ED_data)
dfED.head()

,ADMISSION_FLAG,ADM_REQUEST_DTTM,ADM_REQUEST_LOC_DESCRIPTION,AGE_AT_ARRIVAL,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,DEPARTURE_DTTM,FIRSTDOC_FOR_TREATMENT_DTTM,GENDER_NATIONAL_DESCRIPTION,PSEUDONYMISED_PATIENT_ID,SITE,STREAM_LOCAL_CODE,TRIAGE_ASSESSMENT_DTTM
0,0,NaT,inpatient,65,2018-01-01 00:05:00,1,NaT,NaT,1,0,HOSPITAL,MAJORS,NaT
1,0,NaT,inpatient,86,2018-01-01 01:05:00,1,NaT,NaT,1,1,HOSPITAL,MAJORS,NaT
2,0,NaT,inpatient,43,2018-01-01 02:05:00,1,NaT,NaT,1,2,HOSPITAL,MAJORS,NaT
3,0,NaT,inpatient,85,2018-01-01 03:05:00,1,NaT,NaT,1,3,HOSPITAL,MAJORS,NaT
4,0,NaT,inpatient,41,2018-01-01 04:05:00,1,NaT,NaT,1,4,HOSPITAL,MAJORS,NaT

#### fill blank datetime columns

In [8]:
dfED.TRIAGE_ASSESSMENT_DTTM = dfED.ARRIVAL_DTTM + pd.Timedelta(10,'m')
dfED.FIRSTDOC_FOR_TREATMENT_DTTM = dfED.ARRIVAL_DTTM + pd.Timedelta(10,'m')
dfED.ADM_REQUEST_DTTM = dfED.ARRIVAL_DTTM + pd.Timedelta(45,'m')
dfED.DEPARTURE_DTTM = dfED.ARRIVAL_DTTM + pd.Timedelta(60,'m')

#### make second half of data more interesting

In [9]:
# dfED.ADMISSION_FLAG
dfED.loc[size/2:,'ADMISSION_FLAG'] = 1

In [10]:
dfED.columns

Index(['ADMISSION_FLAG', 'ADM_REQUEST_DTTM', 'ADM_REQUEST_LOC_DESCRIPTION',
       'AGE_AT_ARRIVAL', 'ARRIVAL_DTTM', 'ARRIVAL_MODE_NATIONAL_CODE',
       'DEPARTURE_DTTM', 'FIRSTDOC_FOR_TREATMENT_DTTM',
       'GENDER_NATIONAL_DESCRIPTION', 'PSEUDONYMISED_PATIENT_ID', 'SITE',
       'STREAM_LOCAL_CODE', 'TRIAGE_ASSESSMENT_DTTM'],
      dtype='object')

In [11]:
#### clean the DTTMs for non-admitted patients
indexes_non_adm = dfED[dfED.ADMISSION_FLAG == 0].index

dfED.loc[indexes_non_adm, 'ADM_REQUEST_DTTM'] = np.datetime64("NaT")
dfED.loc[indexes_non_adm, 'ADM_REQUEST_LOC_DESCRIPTION'] = np.nan

In [12]:
dfED.to_csv('./SimpleED.csv',index=False)

In [13]:
dfED

,ADMISSION_FLAG,ADM_REQUEST_DTTM,ADM_REQUEST_LOC_DESCRIPTION,AGE_AT_ARRIVAL,ARRIVAL_DTTM,ARRIVAL_MODE_NATIONAL_CODE,DEPARTURE_DTTM,FIRSTDOC_FOR_TREATMENT_DTTM,GENDER_NATIONAL_DESCRIPTION,PSEUDONYMISED_PATIENT_ID,SITE,STREAM_LOCAL_CODE,TRIAGE_ASSESSMENT_DTTM
0,0,NaT,NaN,65,2018-01-01 00:05:00,1,2018-01-01 01:05:00,2018-01-01 00:15:00,1,0,HOSPITAL,MAJORS,2018-01-01 00:15:00
1,0,NaT,NaN,86,2018-01-01 01:05:00,1,2018-01-01 02:05:00,2018-01-01 01:15:00,1,1,HOSPITAL,MAJORS,2018-01-01 01:15:00
2,0,NaT,NaN,43,2018-01-01 02:05:00,1,2018-01-01 03:05:00,2018-01-01 02:15:00,1,2,HOSPITAL,MAJORS,2018-01-01 02:15:00
3,0,NaT,NaN,85,2018-01-01 03:05:00,1,2018-01-01 04:05:00,2018-01-01 03:15:00,1,3,HOSPITAL,MAJORS,2018-01-01 03:15:00
4,0,NaT,NaN,41,2018-01-01 04:05:00,1,2018-01-01 05:05:00,2018-01-01 04:15:00,1,4,HOSPITAL,MAJORS,2018-01-01 04:15:00
5,0,NaT,NaN,75,2018-01-01 05:05:00,1,2018-01-01 06:05:00,2018-01-01 05:15:00,1,5,HOSPITAL,MAJORS,2018-01-01 05:15:00
6,0,NaT,NaN,32,2018-01-01 06:05:00,1,2018-01-01 07:05:00,2018-01-01 06:15:00,1,6,HOSPITAL,MAJORS,2018-01-01 06:15:00
7,0,NaT,NaN,41,2018-01-01 07:05:00,1,2018-01-01 08:05:00,2018-01-01 07:15:00,1,7,HOSPITAL,MAJORS,2018-01-01 07:15:00
8,0,NaT,NaN,90,2018-01-01 08:05:00,1,2018-01-01 09:05:00,2018-01-01 08:15:00,1,8,HOSPITAL,MAJORS,2018-01-01 08:15:00
9,0,NaT,NaN,60,2018-01-01 09:05:00,1,2018-01-01 10:05:00,2018-01-01 09:15:00,1,9,HOSPITAL,MAJORS,2018-01-01 09:15:00
10,0,NaT,NaN,26,2018-01-01 10:05:00,1,2018-01-01 11:05:00,2018-01-01 10:15:00,1,10,HOSPITAL,MAJORS,2018-01-01 10:15:00
11,0,NaT,NaN,57,2018-01-01 11:05:00,1,2018-01-01 12:05:00,2018-01-01 11:15:00,1,11,HOSPITAL,MAJORS,2018-01-01 11:15:00
12,1,2018-01-01 12:50:00,inpatient,86,2018-01-01 12:05:00,1,2018-01-01 13:05:00,2018-01-01 12:15:00,1,12,HOSPITAL,MAJORS,2018-01-01 12:15:00
13,1,2018-01-01 13:50:00,inpatient,66,2018-01-01 13:05:00,1,2018-01-01 14:05:00,2018-01-01 13:15:00,1,13,HOSPITAL,MAJORS,2018-01-01 13:15:00
14,1,2018-01-01 14:50:00,inpatient,25,2018-01-01 14:05:00,1,2018-01-01 15:05:00,2018-01-01 14:15:00,1,14,HOSPITAL,MAJORS,2018-01-01 14:15:00
15,1,2018-01-01 15:50:00,inpatient,62,2018-01-01 15:05:00,1,2018-01-01 16:05:00,2018-01-01 15:15:00,1,15,HOSPITAL,MAJORS,2018-01-01 15:15:00
16,1,2018-01-01 16:50:00,inpatient,18,2018-01-01 16:05:00,1,2018-01-01 17:05:00,2018-01-01 16:15:00,1,16,HOSPITAL,MAJORS,2018-01-01 16:15:00
17,1,2018-01-01 17:50:00,inpatient,93,2018-01-01 17:05:00,1,2018-01-01 18:05:00,2018-01-01 17:15:00,1,17,HOSPITAL,MAJORS,2018-01-01 17:15:00
18,1,2018-01-01 18:50:00,inpatient,73,2018-01-01 18:05:00,1,2018-01-01 19:05:00,2018-01-01 18:15:00,1,18,HOSPITAL,MAJORS,2018-01-01 18:15:00
19,1,2018-01-01 19:50:00,inpatient,24,2018-01-01 19:05:00,1,2018-01-01 20:05:00,2018-01-01 19:15:00,1,19,HOSPITAL,MAJORS,2018-01-01 19:15:00
20,1,2018-01-01 20:50:00,inpatient,37,2018-01-01 20:05:00,1,2018-01-01 21:05:00,2018-01-01 20:15:00,1,20,HOSPITAL,MAJORS,2018-01-01 20:15:00
21,1,2018-01-01 21:50:00,inpatient,78,2018-01-01 21:05:00,1,2018-01-01 22:05:00,2018-01-01 21:15:00,1,21,HOSPITAL,MAJORS,2018-01-01 21:15:00
22,1,2018-01-01 22:50:00,inpatient,62,2018-01-01 22:05:00,1,2018-01-01 23:05:00,2018-01-01 22:15:00,1,22,HOSPITAL,MAJORS,2018-01-01 22:15:00
23,1,2018-01-01 23:50:00,inpatient,81,2018-01-01 23:05:00,1,2018-01-02 00:05:00,2018-01-01 23:15:00,1,23,HOSPITAL,MAJORS,2018-01-01 23:15:00

# IP

In [14]:
size = 24

In [15]:
arrival_array = make_datetime_array(size)

In [16]:
np.random.choice(['Non-Elective', 'Elective', 'Day Case'],20)

array(['Elective', 'Non-Elective', 'Non-Elective', 'Elective',
       'Non-Elective', 'Elective', 'Non-Elective', 'Day Case',
       'Non-Elective', 'Elective', 'Day Case', 'Day Case', 'Non-Elective',
       'Day Case', 'Elective', 'Non-Elective', 'Non-Elective', 'Elective',
       'Non-Elective', 'Non-Elective'], dtype='<U12')

In [17]:
IP_data = {
'PSEUDONYMISED_PATIENT_ID':np.arange(0,size) + 100,
'SPELL_ID':np.arange(0,size),
'AGE_AT_ARRIVAL':np.random.randint(18,100,size),
'GENDER_NATIONAL_DESCRIPTION':[1] * size,
'SITE':['HOSPITAL']*size,
'ADM_DTTM':arrival_array,
'ADM_SOURCE_CODE':[1] * size,
'ADM_TYPE': [''] * size,
'ADM_METHOD':['11'] * size,
'DIS_DTTM':[np.datetime64()] * size,
'DIS_DESTINATION':['home'] * size,
'DIS_METHOD':[1] * size,
'LOCATION_NUMBER':[1] * size,
'LOCATION_START':[np.datetime64()] * size,
'LOCATION_END':[np.datetime64()] * size,
'LOCATION_NAME':['WARD'] * size,
'SPELL_LOS':[np.nan]*size
}

In [18]:
dfIP = pd.DataFrame(data=IP_data)
dfIP.head()

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,,49,home,NaT,1,1,NaT,WARD,1,NaT,100,HOSPITAL,0,NaN
1,2018-01-01 01:05:00,11,1,,62,home,NaT,1,1,NaT,WARD,1,NaT,101,HOSPITAL,1,NaN
2,2018-01-01 02:05:00,11,1,,89,home,NaT,1,1,NaT,WARD,1,NaT,102,HOSPITAL,2,NaN
3,2018-01-01 03:05:00,11,1,,41,home,NaT,1,1,NaT,WARD,1,NaT,103,HOSPITAL,3,NaN
4,2018-01-01 04:05:00,11,1,,28,home,NaT,1,1,NaT,WARD,1,NaT,104,HOSPITAL,4,NaN

#### replace second half of entries with different values

In [19]:
dfIP.loc[size/2:,'ADM_METHOD'] = '21'
dfIP.loc[size/2:,'GENDER_NATIONAL_DESCRIPTION'] = 2

In [20]:
dfIP

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,,49,home,NaT,1,1,NaT,WARD,1,NaT,100,HOSPITAL,0,NaN
1,2018-01-01 01:05:00,11,1,,62,home,NaT,1,1,NaT,WARD,1,NaT,101,HOSPITAL,1,NaN
2,2018-01-01 02:05:00,11,1,,89,home,NaT,1,1,NaT,WARD,1,NaT,102,HOSPITAL,2,NaN
3,2018-01-01 03:05:00,11,1,,41,home,NaT,1,1,NaT,WARD,1,NaT,103,HOSPITAL,3,NaN
4,2018-01-01 04:05:00,11,1,,28,home,NaT,1,1,NaT,WARD,1,NaT,104,HOSPITAL,4,NaN
5,2018-01-01 05:05:00,11,1,,53,home,NaT,1,1,NaT,WARD,1,NaT,105,HOSPITAL,5,NaN
6,2018-01-01 06:05:00,11,1,,82,home,NaT,1,1,NaT,WARD,1,NaT,106,HOSPITAL,6,NaN
7,2018-01-01 07:05:00,11,1,,79,home,NaT,1,1,NaT,WARD,1,NaT,107,HOSPITAL,7,NaN
8,2018-01-01 08:05:00,11,1,,25,home,NaT,1,1,NaT,WARD,1,NaT,108,HOSPITAL,8,NaN
9,2018-01-01 09:05:00,11,1,,41,home,NaT,1,1,NaT,WARD,1,NaT,109,HOSPITAL,9,NaN
10,2018-01-01 10:05:00,11,1,,39,home,NaT,1,1,NaT,WARD,1,NaT,110,HOSPITAL,10,NaN
11,2018-01-01 11:05:00,11,1,,53,home,NaT,1,1,NaT,WARD,1,NaT,111,HOSPITAL,11,NaN
12,2018-01-01 12:05:00,21,1,,85,home,NaT,1,2,NaT,WARD,1,NaT,112,HOSPITAL,12,NaN
13,2018-01-01 13:05:00,21,1,,37,home,NaT,1,2,NaT,WARD,1,NaT,113,HOSPITAL,13,NaN
14,2018-01-01 14:05:00,21,1,,45,home,NaT,1,2,NaT,WARD,1,NaT,114,HOSPITAL,14,NaN
15,2018-01-01 15:05:00,21,1,,22,home,NaT,1,2,NaT,WARD,1,NaT,115,HOSPITAL,15,NaN
16,2018-01-01 16:05:00,21,1,,37,home,NaT,1,2,NaT,WARD,1,NaT,116,HOSPITAL,16,NaN
17,2018-01-01 17:05:00,21,1,,51,home,NaT,1,2,NaT,WARD,1,NaT,117,HOSPITAL,17,NaN
18,2018-01-01 18:05:00,21,1,,48,home,NaT,1,2,NaT,WARD,1,NaT,118,HOSPITAL,18,NaN
19,2018-01-01 19:05:00,21,1,,75,home,NaT,1,2,NaT,WARD,1,NaT,119,HOSPITAL,19,NaN
20,2018-01-01 20:05:00,21,1,,91,home,NaT,1,2,NaT,WARD,1,NaT,120,HOSPITAL,20,NaN
21,2018-01-01 21:05:00,21,1,,99,home,NaT,1,2,NaT,WARD,1,NaT,121,HOSPITAL,21,NaN
22,2018-01-01 22:05:00,21,1,,49,home,NaT,1,2,NaT,WARD,1,NaT,122,HOSPITAL,22,NaN
23,2018-01-01 23:05:00,21,1,,20,home,NaT,1,2,NaT,WARD,1,NaT,123,HOSPITAL,23,NaN

#### cycle through each entry and create the location move data

In [21]:
newdf = dfIP.copy()
for index, row in dfIP.iterrows():
#     print(index,row)
    #### input ward start and end to old record
    
    newdf.loc[index,'LOCATION_START'] = newdf.loc[index]['ADM_DTTM']
    move_datetime = newdf.loc[index]['ADM_DTTM'] + pd.Timedelta(24,'h')
    newdf.loc[index,'LOCATION_END'] = move_datetime
    
    #### make new record with start and end record

    row['LOCATION_START'] = move_datetime # set move start

    moveend_datetime = newdf.loc[index]['LOCATION_END'] + pd.Timedelta(48,'h') # add time to previous move end
    row.loc['LOCATION_END'] = moveend_datetime
    row.loc['LOCATION_NUMBER'] = 2 # set second record to LOCATION_NUMBER 2
    newdf = newdf.append(row)
    newdf.reset_index(inplace=True,drop=True)
    
    #### set LOCATION_NUMBER to 2
#     newdf.loc[index]['LOCATION_NUMBER'] + 1
    
    #### set DIS_DTTM in all records from largest 'LOCATION_END'
    spell_id = newdf.loc[index]['SPELL_ID']
    newdf.loc[newdf[newdf['SPELL_ID'] == spell_id].index,'DIS_DTTM'] = moveend_datetime
    
    
newdf.head()

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,,49,home,2018-01-04 00:05:00,1,1,2018-01-02 00:05:00,WARD,1,2018-01-01 00:05:00,100,HOSPITAL,0,NaN
1,2018-01-01 01:05:00,11,1,,62,home,2018-01-04 01:05:00,1,1,2018-01-02 01:05:00,WARD,1,2018-01-01 01:05:00,101,HOSPITAL,1,NaN
2,2018-01-01 02:05:00,11,1,,89,home,2018-01-04 02:05:00,1,1,2018-01-02 02:05:00,WARD,1,2018-01-01 02:05:00,102,HOSPITAL,2,NaN
3,2018-01-01 03:05:00,11,1,,41,home,2018-01-04 03:05:00,1,1,2018-01-02 03:05:00,WARD,1,2018-01-01 03:05:00,103,HOSPITAL,3,NaN
4,2018-01-01 04:05:00,11,1,,28,home,2018-01-04 04:05:00,1,1,2018-01-02 04:05:00,WARD,1,2018-01-01 04:05:00,104,HOSPITAL,4,NaN

### calc spell LOS

Just use days (real hosp rules more complex).

In [22]:
newdf['SPELL_LOS'] = newdf.apply(lambda x : ((x.DIS_DTTM - x.ADM_DTTM)/pd.Timedelta(1,'D')),axis=1)

#### round down

In [23]:
newdf['SPELL_LOS'] = newdf['SPELL_LOS'].apply(np.floor)

newdf.loc[0:3,'SPELL_LOS'] = 0

### Make ADM_TYPE = Elec/Non-elec/daycase

In [24]:
elec_query = "ADM_METHOD in ['11','12','13']" # 11,12,13
# elec_nonelec_query = "ADM_METHOD in ['21','22','23','24','25','2A','2B','2C','2D','28','81','11','12','13']"
nonelec_query = "ADM_METHOD in ['21','22','23','24','25','2A','2B','2C','2D','28','81']"

In [25]:
def make_admtype_from_adm_method_column(df):
    """
    Takes IP df in FLOSP format and creates column ADM_TYPE with entries Elective/Non-Elective/Day Case.
    ADM_METHOD column must be in string format.
    """
    
    elec_query = "ADM_METHOD in ['11','12','13']"
    nonelec_query = "ADM_METHOD in ['21','22','23','24','25','2A','2B','2C','2D','28','81']"
    
    df.loc[df.query(elec_query).index, 'ADM_TYPE'] = 'Elective'
    df.loc[df.query(nonelec_query).index, 'ADM_TYPE'] = 'Non-Elective'
    df.loc[df.query("SPELL_LOS < 1").index, 'ADM_TYPE'] = 'Day Case'
    
    return df

make_admtype_from_adm_method_column(newdf)

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,Elective,49,home,2018-01-04 00:05:00,1,1,2018-01-02 00:05:00,WARD,1,2018-01-01 00:05:00,100,HOSPITAL,0,3.0
1,2018-01-01 01:05:00,11,1,Elective,62,home,2018-01-04 01:05:00,1,1,2018-01-02 01:05:00,WARD,1,2018-01-01 01:05:00,101,HOSPITAL,1,3.0
2,2018-01-01 02:05:00,11,1,Elective,89,home,2018-01-04 02:05:00,1,1,2018-01-02 02:05:00,WARD,1,2018-01-01 02:05:00,102,HOSPITAL,2,3.0
3,2018-01-01 03:05:00,11,1,Elective,41,home,2018-01-04 03:05:00,1,1,2018-01-02 03:05:00,WARD,1,2018-01-01 03:05:00,103,HOSPITAL,3,3.0
4,2018-01-01 04:05:00,11,1,Elective,28,home,2018-01-04 04:05:00,1,1,2018-01-02 04:05:00,WARD,1,2018-01-01 04:05:00,104,HOSPITAL,4,3.0
5,2018-01-01 05:05:00,11,1,Elective,53,home,2018-01-04 05:05:00,1,1,2018-01-02 05:05:00,WARD,1,2018-01-01 05:05:00,105,HOSPITAL,5,3.0
6,2018-01-01 06:05:00,11,1,Elective,82,home,2018-01-04 06:05:00,1,1,2018-01-02 06:05:00,WARD,1,2018-01-01 06:05:00,106,HOSPITAL,6,3.0
7,2018-01-01 07:05:00,11,1,Elective,79,home,2018-01-04 07:05:00,1,1,2018-01-02 07:05:00,WARD,1,2018-01-01 07:05:00,107,HOSPITAL,7,3.0
8,2018-01-01 08:05:00,11,1,Elective,25,home,2018-01-04 08:05:00,1,1,2018-01-02 08:05:00,WARD,1,2018-01-01 08:05:00,108,HOSPITAL,8,3.0
9,2018-01-01 09:05:00,11,1,Elective,41,home,2018-01-04 09:05:00,1,1,2018-01-02 09:05:00,WARD,1,2018-01-01 09:05:00,109,HOSPITAL,9,3.0
10,2018-01-01 10:05:00,11,1,Elective,39,home,2018-01-04 10:05:00,1,1,2018-01-02 10:05:00,WARD,1,2018-01-01 10:05:00,110,HOSPITAL,10,3.0
11,2018-01-01 11:05:00,11,1,Elective,53,home,2018-01-04 11:05:00,1,1,2018-01-02 11:05:00,WARD,1,2018-01-01 11:05:00,111,HOSPITAL,11,3.0
12,2018-01-01 12:05:00,21,1,Non-Elective,85,home,2018-01-04 12:05:00,1,2,2018-01-02 12:05:00,WARD,1,2018-01-01 12:05:00,112,HOSPITAL,12,3.0
13,2018-01-01 13:05:00,21,1,Non-Elective,37,home,2018-01-04 13:05:00,1,2,2018-01-02 13:05:00,WARD,1,2018-01-01 13:05:00,113,HOSPITAL,13,3.0
14,2018-01-01 14:05:00,21,1,Non-Elective,45,home,2018-01-04 14:05:00,1,2,2018-01-02 14:05:00,WARD,1,2018-01-01 14:05:00,114,HOSPITAL,14,3.0
15,2018-01-01 15:05:00,21,1,Non-Elective,22,home,2018-01-04 15:05:00,1,2,2018-01-02 15:05:00,WARD,1,2018-01-01 15:05:00,115,HOSPITAL,15,3.0
16,2018-01-01 16:05:00,21,1,Non-Elective,37,home,2018-01-04 16:05:00,1,2,2018-01-02 16:05:00,WARD,1,2018-01-01 16:05:00,116,HOSPITAL,16,3.0
17,2018-01-01 17:05:00,21,1,Non-Elective,51,home,2018-01-04 17:05:00,1,2,2018-01-02 17:05:00,WARD,1,2018-01-01 17:05:00,117,HOSPITAL,17,3.0
18,2018-01-01 18:05:00,21,1,Non-Elective,48,home,2018-01-04 18:05:00,1,2,2018-01-02 18:05:00,WARD,1,2018-01-01 18:05:00,118,HOSPITAL,18,3.0
19,2018-01-01 19:05:00,21,1,Non-Elective,75,home,2018-01-04 19:05:00,1,2,2018-01-02 19:05:00,WARD,1,2018-01-01 19:05:00,119,HOSPITAL,19,3.0
20,2018-01-01 20:05:00,21,1,Non-Elective,91,home,2018-01-04 20:05:00,1,2,2018-01-02 20:05:00,WARD,1,2018-01-01 20:05:00,120,HOSPITAL,20,3.0
21,2018-01-01 21:05:00,21,1,Non-Elective,99,home,2018-01-04 21:05:00,1,2,2018-01-02 21:05:00,WARD,1,2018-01-01 21:05:00,121,HOSPITAL,21,3.0
22,2018-01-01 22:05:00,21,1,Non-Elective,49,home,2018-01-04 22:05:00,1,2,2018-01-02 22:05:00,WARD,1,2018-01-01 22:05:00,122,HOSPITAL,22,3.0
23,2018-01-01 23:05:00,21,1,Non-Elective,20,home,2018-01-04 23:05:00,1,2,2018-01-02 23:05:00,WARD,1,2018-01-01 23:05:00,123,HOSPITAL,23,3.0
24,2018-01-01 00:05:00,11,1,Elective,49,home,2018-01-04 00:05:00,1,1,2018-01-04 00:05:00,WARD,2,2018-01-02 00:05:00,100,HOSPITAL,0,3.0
25,2018-01-01 01:05:00,11,1,Elective,62,home,2018-01-04 01:05:00,1,1,2018-01-04 01:05:00,WARD,2,2018-01-02 01:05:00,101,HOSPITAL,1,3.0
26,2018-01-01 02:05:00,11,1,Elective,89,home,2018-01-04 02:05:00,1,1,2018-01-04 02:05:00,WARD,2,2018-01-02 02:05:00,102,HOSPITAL,2,3.0
27,2018-01-01 03:05:00,11,1,Elective,41,home,2018-01-04 03:05:00,1,1,2018-01-04 03:05:00,WARD,2,2018-01-02 03:05:00,103,HOSPITAL,3,3.0
28,2018-01-01 04:05:00,11,1,Elective,28,home,2018-01-04 04:05:00,1,1,2018-01-04 04:05:00,WARD,2,2018-01-02 04:05:00,104,HOSPITAL,4,3.0
29,2018-01-01 05:05:00,11,1,Elective,53,home,2018-01-04 05:05:00,1,1,2018-01-04 05:05:00,WARD,2,2018-01-02 05:05:00,105,HOSPITAL,5,3.0
30,2018-01-01 06:05:00,11,1,Elective,82,home,2018-01-04 06:05:00,1,1,2018-01-04 06:05:00,WARD,2,2018-01-02 06:05:00,106,HOSPITAL,6,3.0
31,2018-01-01 07:05:00,11,1,Elective,79,home,2018-01-04 07:05:00,1,1,2018-01-04 07:05:00,WARD,2,2018-01-02 07:05:00,107,HOSPITAL,7,3.0
32,2018-01-01 08:05:00,11,1,Elective,25,home,2018-01-04 08:05:00,1,1,2018-01-04 08:05:00,WARD,2,2018-01-02 08:05:00,108,HOSPITAL,8,3.0
33,2018-01-01 09:05:00,11,1,Elective,41,home,2018-01-04 09:05:00,1,1,2018-01-04 09:05:00,WARD,2,2018-01-02 09:05:00,109,HOSPITAL,9,3.0
34,2018-01-01 10:05:00,11,1,Elective,39,home,2018-01-04 10:05:00,1,1,2018-01-04 10:05:00,WARD,2,2018-01-02 10:05:00,110,HOSPITAL,10,3.0
35,2018-01-01 11:05:00,11,1,Elective,53,home,2018-01-04 11:05:00,1,1,2018-01-04 11:05:00,WARD,2,2018-01-02 11:05:00,111,HOSPITAL,11,3.0
36,2018-01-01 12:05:00,21,1,Non-Elective,85,home,2018-01-04 12:05:00,1,2,2018-01-04 12:05:00,WARD,2,2018-01-02 12:05:00,112,HOSPITAL,12,3.0
37,2018-01-01 13:05:00,21,1,Non-Elective,37,home,2018-01-04 13:05:00,1,2,2018-01-04 13:05:00,WARD,2,2018-01-02 13:05:00,113,HOSPITAL,13,3.0
38,2018-01-01 14:05:00,21,1,Non-Elective,45,home,2018-01-04 14:05:00,1,2,2018-01-04 14:05:00,WARD,2,2018-01-02 14:05:00,114,HOSPITAL,14,3.0
39,2018-01-01 15:05:00,21,1,Non-Elective,22,home,2018-01-04 15:05:00,1,2,2018-01-04 15:05:00,WARD,2,2018-01-02 15:05:00,115,HOSPITAL,15,3.0
40,2018-01-01 16:05:00,21,1,Non-Elective,37,home,2018-01-04 16:05:00,1,2,2018-01-04 16:05:00,WARD,2,2018-01-02 16:05:00,116,HOSPITAL,16,3.0
41,2018-01-01 17:05:00,21,1,Non-Elective,51,home,2018-01-04 17:05:00,1,2,2018-01-04 17:05:00,WARD,2,2018-01-02 17:05:00,117,HOSPITAL,17,3.0
42,2018-01-01 18:05:00,21,1,Non-Elective,48,home,2018-01-04 18:05:00,1,2,2018-01-04 18:05:00,WARD,2,2018-01-02 18:05:00,118,HOSPITAL,18,3.0
43,2018-01-01 19:05:00,21,1,Non-Elective,75,home,2018-01-04 19:05:00,1,2,2018-01-04 19:05:00,WARD,2,2018-01-02 19:05:00,119,HOSPITAL,19,3.0
44,2018-01-01 20:05:00,21,1,Non-Elective,91,home,2018-01-04 20:05:00,1,2,2018-01-04 20:05:00,WARD,2,2018-01-02 20:05:00,120,HOSPITAL,20,3.0
45,2018-01-01 21:05:00,21,1,Non-Elective,99,home,2018-01-04 21:05:00,1,2,2018-01-04 21:05:00,WARD,2,2018-01-02 21:05:00,121,HOSPITAL,21,3.0
46,2018-01-01 22:05:00,21,1,Non-Elective,49,home,2018-01-04 22:05:00,1,2,2018-01-04 22:05:00,WARD,2,2018-01-02 22:05:00,122,HOSPITAL,22,3.0
47,2018-01-01 23:05:00,21,1,Non-Elective,20,home,2018-01-04 23:05:00,1,2,2018-01-04 23:05:00,WARD,2,2018-01-02 23:05:00,123,HOSPITAL,23,3.0

In [26]:
newdf.to_csv('./SimpleIP.csv',index=False)

In [27]:
newdf.head()

,ADM_DTTM,ADM_METHOD,ADM_SOURCE_CODE,ADM_TYPE,AGE_AT_ARRIVAL,DIS_DESTINATION,DIS_DTTM,DIS_METHOD,GENDER_NATIONAL_DESCRIPTION,LOCATION_END,LOCATION_NAME,LOCATION_NUMBER,LOCATION_START,PSEUDONYMISED_PATIENT_ID,SITE,SPELL_ID,SPELL_LOS
0,2018-01-01 00:05:00,11,1,Elective,49,home,2018-01-04 00:05:00,1,1,2018-01-02 00:05:00,WARD,1,2018-01-01 00:05:00,100,HOSPITAL,0,3.0
1,2018-01-01 01:05:00,11,1,Elective,62,home,2018-01-04 01:05:00,1,1,2018-01-02 01:05:00,WARD,1,2018-01-01 01:05:00,101,HOSPITAL,1,3.0
2,2018-01-01 02:05:00,11,1,Elective,89,home,2018-01-04 02:05:00,1,1,2018-01-02 02:05:00,WARD,1,2018-01-01 02:05:00,102,HOSPITAL,2,3.0
3,2018-01-01 03:05:00,11,1,Elective,41,home,2018-01-04 03:05:00,1,1,2018-01-02 03:05:00,WARD,1,2018-01-01 03:05:00,103,HOSPITAL,3,3.0
4,2018-01-01 04:05:00,11,1,Elective,28,home,2018-01-04 04:05:00,1,1,2018-01-02 04:05:00,WARD,1,2018-01-01 04:05:00,104,HOSPITAL,4,3.0

In [28]:
break

SyntaxError: 'break' outside loop (<ipython-input-28-6aaf1f276005>, line 1)

In [ ]:
spell_id

In [ ]:
newdf['SPELL_ID'] == spell_id

In [ ]:
nrec = dfIP.loc[0]

In [ ]:
row['ADM_DTTM'] = 5

In [ ]:
row

In [ ]:
dfIP.append(nrec)