In [1]:
import pandas as pd
import numpy as np

In [2]:
%pwd

'C:\\Users\\bjk1y13\\OneDrive - University of Southampton\\MH030_HHFT_flow\\4_Analysis\\flosp\\flosp\\test\\data\\complexday'

In [15]:
df = pd.read_pickle('./../../../../../flosp/existing_data_runs/SGH/SGH_output/processed/ED.pkl')

In [16]:
df.tail()

,PSEUDONYMISED_PATIENT_ID,ARRIVAL_MODE_NATIONAL_CODE,SPECIALITY_REF_DTTM,TRIAGE_ASSESSMENT_DTTM,AGE_AT_ARRIVAL,ADM_REQUEST_LOC_DESCRIPTION,ARRIVAL_DTTM,DEPARTURE_DTTM,SITE,ADM_REQUEST_DTTM,...,age_group,waiting_time,arr_triage_wait,arr_dr_wait,arr_adm_req_wait,adm_req_dep_wait,dr_adm_req_wait,dr_dep_wait,BREACH_FLAG,breach_datetime
913832,497545978018,Emergency Road Ambulance,NaN,NaT,69,NaN,2018-05-04 12:00:00,2018-05-04 15:04:00,Main ED,2018-05-04 12:46:00,...,65+,184.0,NaN,NaN,46.0,138.0,NaN,NaN,0,2018-05-04 16:00:00
913833,812787124394,Emergency Road Ambulance,NaN,NaT,73,NaN,2018-05-26 11:31:00,2018-05-26 12:40:00,Main ED,2018-05-26 11:43:00,...,65+,69.0,NaN,NaN,12.0,57.0,NaN,NaN,0,2018-05-26 15:31:00
913834,073505730740,Patient arranged own transport / walk-in,NaN,NaT,2,NaN,2018-05-04 19:37:00,2018-05-04 23:09:00,Main ED,NaT,...,0-17,212.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2018-05-04 23:37:00
913835,757373573113,Emergency Road Ambulance,NaN,NaT,93,NaN,2018-05-27 06:17:00,2018-05-27 18:11:00,Main ED,2018-05-27 10:04:00,...,65+,714.0,NaN,NaN,227.0,487.0,NaN,NaN,1,2018-05-27 10:17:00
913836,854787547747,Emergency Road Ambulance,NaN,NaT,37,NaN,2018-05-27 00:13:00,2018-05-27 10:04:00,Main ED,2018-05-27 04:38:00,...,18-64,591.0,NaN,NaN,265.0,326.0,NaN,NaN,1,2018-05-27 04:13:00

In [18]:
dff = df[(df.ARRIVAL_DTTM >= pd.datetime(2018,1,1)) & (df.ARRIVAL_DTTM < pd.datetime(2018,1,2))]

In [26]:
cols = [col for col in dff.columns if col.isupper()] # get only columns with upper case names.
dff = dff[cols]

In [30]:
dff.to_csv('./complexdayED.csv',index=False)