In [1]:
%cd ./..

C:\Users\bjk1y13\OneDrive - University of Southampton\MH000_HHFT_flow\4_Analysis\flosp

In [2]:
import flosp

In [3]:
hhft = flosp.analyse('hhft','./../../3_Data/')

In [4]:
hhft.save_path

'./../../3_Data/processed/hhft/'

In [5]:
hhft.load_processed_data()

----------------------------------------
attemping to import processed dataframes.
Found: ./../../3_Data/processed/hhft/hhftED.pkl
Missing: ./../../3_Data/processed/hhft/hhftNOTAPICKLE.pkl

In [6]:
hhft._dataED.shape

(567635, 39)

In [8]:
hhft._dataED.head()

,hosp_patid,age,gender,site,arrive_datetime,arrive_mode,first_triage_datetime,first_dr_datetime,first_adm_request_time,adm_referral_loc,...,depart_flag_wkend,waiting_time,arr_triage_wait,arr_dr_wait,arr_adm_req_wait,adm_req_dep_wait,dr_adm_req_wait,dr_dep_wait,breach_flag,breach_datetime
0,489709,43,Female,BNHH,2012-08-01 00:04:00,2.0,2012-08-01 00:18:00,2012-08-01 02:24:00,NaN,NaN,...,0,220.0,14.0,140.0,NaN,NaN,NaN,80.0,0,2012-08-01 04:04:00
1,653265,44,Male,BNHH,2012-08-01 00:37:00,2.0,2012-08-01 00:53:00,2012-08-01 02:43:00,NaN,NaN,...,0,211.0,16.0,126.0,NaN,NaN,NaN,85.0,0,2012-08-01 04:37:00
2,340430,15,Male,BNHH,2012-08-01 00:55:00,1.0,2012-08-01 01:00:00,2012-08-01 01:24:00,NaN,NaN,...,0,119.0,5.0,29.0,NaN,NaN,NaN,90.0,0,2012-08-01 04:55:00
3,127292,30,Female,BNHH,2012-08-01 00:58:00,2.0,2012-08-01 01:01:00,2012-08-01 02:04:00,NaN,NaN,...,0,144.0,3.0,66.0,NaN,NaN,NaN,78.0,0,2012-08-01 04:58:00
4,418634,30,Male,BNHH,2012-08-01 01:40:00,1.0,2012-08-01 01:55:00,2012-08-01 02:27:00,NaN,NaN,...,0,133.0,15.0,47.0,NaN,NaN,NaN,86.0,0,2012-08-01 05:40:00

# Dev